<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Loaders</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <form-group data="type" field="type" meta="metadata['class']"
                      previous-value="prevData['class']" read-only="readOnly"
                      option-string="item.class as item.label for item" option-values="cacheLoaders"
                      change-callback="changeLoaderClass" undo-callback="undoClassChange"/>
        </div>

        <div class="form-horizontal" ng-if="type.type !== 'None'">
          <form-group data="data" field="class" meta="metadata['class']"
                      previous-value="prevData['class']" read-only="readOnly || !isCustomLoader()"/>
        </div>


        <div class="form-horizontal" ng-repeat="field in fields" ng-if="type.type !== 'None'">
          <form-group data="data" field="{{field}}" meta="metadata[field]"
                      previous-value="prevData[field]" read-only="readOnly" />
        </div>

      </div>
    </div>
  </div>
</div>
