<div class="form-horizontal" ng-repeat="field in metadata.checkboxes">
  <form-group data="store" field="{{field}}" meta="getFieldMetaObject(field)"
              previous-value="prevData[field]" read-only="readOnly"/>
</div>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label">Write Behind</label>

    <div class="col-md-4">
      <modal-dialog data="store" field="write-behind.WRITE_BEHIND" field-meta="getFieldMetaObject('write-behind')"
                    outside-controller="internalController" parent-meta="getFieldMetaObject('write-behind')"
                    previous-values="prevData['write-behind']['WRITE_BEHIND']" title="Write Behind"
                    modal-fields="[{name: 'modification-queue-size'}, {name: 'thread-pool-size'}]"/>
    </div>

    <field-info data="store" meta="getFieldMetaObject('write-behind')" field="write-behind"
                previous-value="prevData['write-behind']"/>
  </div>
</div>
