<!--Expiration-->
<div class="form-horizontal">
  <div class="form-group">
    <label class="col-md-4 control-label">Expiration</label>

    <div class="col-md-4">
      <modal-dialog data="store" field="expiration.EXPIRATION" field-meta="getFieldMetaObject('expiration')"
                    outside-controller="internalController" parent-meta="getFieldMetaObject('expiration')"
                    previous-values="prevData['expiration']['EXPIRATION']" title="Expiration"
                    modal-fields="[{name: 'path'}, {name: 'queue-size'}]"/>
    </div>

    <field-info data="store" meta="getFieldMetaObject('expiration')" field="expiration"
                previous-value="prevData['expiration']"/>
  </div>
</div>

<!--Implementation-->
<div class="form-horizontal">
  <form-group data="levelDb.impl" field="implementation" meta="getFieldMetaObject('implementation', 'implementation')"
              read-only="readOnly" previous-value="getLevelDbPrevVal('implementation', 'implementation')"
              undo-callback="undoLdbImplementationChange"/>
</div>

<!--Compression-->
<div class="form-horizontal">
  <form-group data="levelDb.comp" field="type" label="Compression" meta="getFieldMetaObject('type', 'compression')"
              read-only="readOnly" previous-value="getLevelDbPrevVal('type', 'compression')"
              undo-callback="undoLdbCompressionChange"/>
</div>

<!--Normal Input-->
<div ng-include="'components/directives/cache/store/views/generic-fields.html'"></div>
