<!--Connection Pool-->
<div class="form-group">
  <label class="col-md-4 control-label">Connection Pool</label>

  <div class="col-md-4">
    <modal-dialog data="store" field="connection-pool" field-meta="getFieldMetaValues('connection-pool')"
                  outside-controller="internalController" parent-meta="getFieldMetaObject('connection-pool')"
                  previous-values="prevData['connection-pool']" title="Connection Pool"
                  modal-fields="[{name: 'buffer-size'}, {name: 'connection-timeout'}, {name: 'max-connections-per-host'},
                  {name: 'max-total-connections'}, {name: 'socket-timeout'}, {name: 'tcp-no-delay'}]"/>
  </div>

  <div class="col-md-4 pull-left">
    <i class="fa fa-info-circle" tooltip="{{metadata.currentStore['binary-keyed-table'].description}}"
       tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
    <span ng-if="isFieldValueModified('binary-keyed-table')"><a
      ng-click="undoFieldChange('binary-keyed-table')">(Undo)</a>
                <span ng-if="fieldChangeRequiresRestart('binary-keyed-table')">Restart needed</span></span>
  </div>
</div>

<div ng-include="'components/directives/cache/store/views/generic-fields.html'"></div>
