<div class="row">
  <div class="col-sm-12 col-md-12">
    <configuration-section fields="[{name: 'Transport', fields: ['channel', 'lock-timeout', 'strict-peer-to-peer']}]"
                           data="transCtrl.transport" meta="transCtrl.meta.attributes" init-defaults="false"
                           read-only="false" config-callbacks="transCtrl.callbackArray"/>
  </div>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-6">
      <button id="createCacheButton" type="button" class="btn btn-primary" ng-disabled="!transCtrl.isAnyFieldModified()"
              ng-click="transCtrl.save()" translate>SAVE
      </button>
      <button id="cancelCreateCacheButton" type="button" class="btn btn-default" ng-click="transCtrl.cancel()"
              translate>CANCEL
      </button>
    </div>
  </div>
</div>
