<div class="row">
  <div class="col-sm-12 col-md-12">
    <table class="datatable table table-striped table-bordered">
      <thead>
      <tr>
        <th colspan="7" class="text-right">
          <div class="btn-group" role="group">
            <a role="button" class="btn btn-default" data-toggle="modal" ng-click="counterCtrl.createCounterModal()"><span
              class="pficon pficon-add-circle-o"></span> Create new counter</a>
          </div>

        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Storage</th>
        <th>Initial value</th>
        <th>Current value</th>
        <th>Bounds</th>
        <th width="170" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="counter in counterCtrl.counters">
        <td>{{counter.getName()}}</td>
        <td>{{counter.toString()}}</td>
        <td>{{counter.getStorage()}}</td>
        <td>{{counter.getInitialValue()}}</td>
        <td>{{counter.getCurrentValue()}}</td>
        <td>{{counterCtrl.getBounds(counter)}}</td>
        <td class="text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="counterCtrl.reset(counter)"><i class="pficon pficon-edit"></i> Reset</button>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="counterCtrl.remove(counter)"><i class="pficon pficon-delete"></i> Remove</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
