<div ng-include="'components/cache-stores/view/generic-fields.html'"></div>

<div class="form-group"
     ng-if="$ctrl.data['store-type'] === 'string-keyed-jdbc-store' || $ctrl.data['store-type'] === 'mixed-keyed-jdbc-store' || $ctrl.hasStringKeyedTable()">
    <label class="col-md-4 control-label">String keyed table</label>

    <div class="col-md-4">
        <cache-store-modal data="$ctrl.store" field="string-keyed-table"
                           field-meta="$ctrl.getFieldMetaValues('string-keyed-table')"
                           parent-meta="$ctrl.getFieldMetaObject('string-keyed-table')"
                           previous-values="$ctrl.prevData['string-keyed-table']" title="String Keyed Table"
                           modal-fields="[{name: 'prefix'}, {name: 'batch-size'}, {name: 'fetch-size'},
                  {name: 'name', parent: 'id-column'}, {name: 'type', parent: 'id-column'},
                  {name: 'name', parent: 'data-column'}, {name: 'type', parent: 'data-column'},
                  {name: 'name', parent: 'timestamp-column'}, {name: 'type', parent: 'timestamp-column'},
                  {name: 'create-on-start'}, {name: 'drop-on-exit'}]"/>
    </div>

    <field-info data="$ctrl.store" meta="$ctrl.getFieldMetaObject('string-keyed-table')" field="string-keyed-table"
                previous-value="$ctrl.prevData['string-keyed-table']"/>
</div>

<div class="form-group"
     ng-if="$ctrl.data['store-type'] === 'binary-keyed-jdbc-store' || $ctrl.data['store-type'] === 'mixed-keyed-jdbc-store' || $ctrl.hasBinaryKeyedTable()">
    <label class="col-md-4 control-label">Binary keyed table</label>

    <div class="col-md-4">
        <cache-store-modal data="$ctrl.store" field="binary-keyed-table"
                           field-meta="$ctrl.getFieldMetaValues('binary-keyed-table')"
                           parent-meta="$ctrl.getFieldMetaObject('binary-keyed-table')"
                           previous-values="$ctrl.prevData['binary-keyed-table']" title="Binary Keyed Table"
                           modal-fields="[{name: 'prefix'}, {name: 'batch-size'}, {name: 'fetch-size'},
                  {name: 'name', parent: 'id-column'}, {name: 'type', parent: 'id-column'},
                  {name: 'name', parent: 'data-column'}, {name: 'type', parent: 'data-column'},
                  {name: 'name', parent: 'timestamp-column'}, {name: 'type', parent: 'timestamp-column'},
                  {name: 'create-on-start'}, {name: 'drop-on-exit'}]"/>
    </div>

    <field-info data="$ctrl.store" meta="$ctrl.getFieldMetaObject('binary-keyed-table')" field="binary-keyed-table"
                previous-value="$ctrl.prevData['binary-keyed-table']"/>
</div>
