<!--Expiration-->
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label">Expiration</label>

        <div class="col-md-4">
            <cache-store-modal data="$ctrl.store" field="expiration.EXPIRATION" parent="{{$ctrl.data['store-type']}}"
                               field-meta="$ctrl.getFieldMetaObject('expiration')"
                               parent-meta="$ctrl.getFieldMetaObject('expiration')"
                               previous-values="$ctrl.prevData['expiration']['EXPIRATION']" title="{{$ctrl.data['store-type']}} Expiration"
                               modal-fields="[{name: 'path'}, {name: 'queue-size'}]"/>
        </div>

        <field-info data="$ctrl.store" meta="$ctrl.getFieldMetaObject('expiration')" field="expiration"
                    previous-value="$ctrl.prevData['expiration']" parent="{{$ctrl.data['store-type']}}"/>
    </div>
</div>

<!--Implementation-->
<div class="form-horizontal">
    <form-group data="$ctrl.levelDb.impl" field="implementation"
                meta="$ctrl.getFieldMetaObject('implementation', 'implementation')"
                read-only="$ctrl.readOnly" previous-value="$ctrl.getLevelDbPrevVal('implementation', 'implementation')"
                undo-callback="$ctrl.undoLdbImplementationChange" parent="{{$ctrl.data['store-type']}}">
</div>

<!--Compression-->
<div class="form-horizontal">
    <form-group data="$ctrl.levelDb.comp" field="type" label="Compression"
                meta="$ctrl.getFieldMetaObject('type', 'compression')"
                read-only="$ctrl.readOnly" previous-value="$ctrl.getLevelDbPrevVal('type', 'compression')"
                undo-callback="$ctrl.undoLdbCompressionChange" parent="{{$ctrl.data['store-type']}}"/>
</div>

<!--Normal Input-->
<div ng-include="'components/cache-stores/view/generic-fields.html'"></div>
