<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="ctrl.cancelModal()">
            <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ctrl.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal" ng-repeat="field in ctrl.fields">

            <!--Currently we have code repeated as ng-model can't be dynamically assigned.-->
            <!--There must be a less repetitive way to achieve the same thing-->

            <div>
                <form-group data="ctrl.data[field.parent]" field="{{field.name}}"
                            meta="ctrl.getMetadataObject(field.name, field.parent)"
                            previous-value="ctrl.prevData[field.parent][field.name]" read-only="ctrl.readOnly"
                            label="{{ctrl.resolveFieldName(field.name, field.parent)}}"
                            ng-if="ctrl.isParentDefined(field)"/>
            </div>

            <div>
                <form-group data="ctrl.data" field="{{field.name}}" meta="ctrl.getMetadataObject(field.name)"
                            previous-value="ctrl.prevData[field.name]" read-only="ctrl.readOnly"
                            ng-if="!ctrl.isParentDefined(field)"/>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="cancelButton" type="button" class="btn btn-default" ng-click="ctrl.cancelModal()">Cancel</button>
        <button id="okButton" type="button" class="btn btn-primary" ng-click="ctrl.submitModal()">Ok</button>
    </div>
</div>
