<div class="container">
  <form class="form-horizontal" name="loginForm" role="form" ng-submit="ctrl.login()" novalidate>
    <div class="row" ng-show="!ctrl.authenticated">
      <div class="col-sm-12">
        <div id="brand">
          <img ng-src="{{ctrl.constants.brandImage}}" alt="{{ctrl.constants.brandName}}">
        </div><!--/#brand-->
      </div><!--/.col-*-->
      <div class="col-sm-7 col-md-6 col-lg-5 login">


        <div class="alert alert-danger alert-dismissable" ng-show="ctrl.loginError" id="loginErrorMessage">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="ctrl.alertDismissed()">
            <span class="pficon pficon-close"></span>
          </button>
          <span class="pficon pficon-error-circle-o"></span>
          {{ctrl.loginError}}
        </div>


        <div class="form-group">
          <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
          <div class="col-sm-10 col-md-10">
            <input type="text" class="form-control" id="inputUsername" placeholder="" tabindex="1"
                   ng-model="ctrl.credentials.username">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
          <div class="col-sm-10 col-md-10">
            <input name="password" type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2"
                   ng-model="ctrl.credentials.password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 submit">
            <span class="spinner spinner-xs spinner-inline" ng-show="ctrl.showLoginSpinner"/>
            <button ng-disabled="ctrl.authenticated" type="submit" class="btn btn-primary btn-lg" tabindex="4">Log In
            </button>
          </div>
        </div><!--/.col-*-->
        <div class="col-sm-5 col-md-6 col-lg-7 details">
          <p><strong>Welcome to the {{ctrl.constants.brandName}}</strong></p>
        </div><!--/.col-*-->
      </div><!--/.col-*-->
    </div><!--/.row-->
  </form>
</div><!--/.container-->
