<fieldset class="form-group" ng-disabled="readOnly">
  <label class="col-md-4 control-label">{{resolveFieldName()}}</label>

  <div class="col-md-4">
    <input class="form-control" type="text" ng-model="data[field]"
           ng-change="fieldValueModified()" ng-style="getStyle()"
           ng-if="!multiValue && type === 'text'"
           placeholder="{{placeholder}}"/>

    <div class="checkbox" ng-if="!multiValue && type === 'checkbox'">
      <label>
        <input type="checkbox" ng-style="getStyle()" ng-model="data[field]"
               ng-change="fieldValueModified()"/>
      </label>
    </div>

    <select class="form-control" ng-style="getStyle()" ng-model="data[field]"
            ng-options="{{option}}"
            ng-if="multiValue" ng-change="fieldValueModified()"/>

    <!-- TODO Make a property table directive-->
    <div ng-if="type === 'table'">
      <form name="propertyForm" ng-class="field" ng-style="getStyle(field)">
        <table class="table">
          <thead>
          <tr>
            <td>Property</td>
            <td>Value</td>
            <td></td>
          </tr>
          </thead>
          <tr ng-repeat="(key, value) in data[field] track by key">
            <td>
              <input class="form-control" type="text" ng-model="key" ng-disabled="true"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     ng-change="createOrUpdateProperty(field, key, value)"/>
            </td>
            <td>
              <input class="form-control" type="text" ng-model="value"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     ng-change="createOrUpdateProperty(field, key, value)"/>
            </td>
            <td>
              <button type="button" class="btn btn-link" ng-click="removeProperty(field, key)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" ng-model="newKey"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     required/>
            </td>
            <td>
              <input class="form-control" type="text" ng-model="newValue"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     required/>
            </td>
            <td>
              <button type="button" class="btn btn-link"
                      ng-click="createOrUpdateProperty(field, newKey, newValue);newKey=null;newValue=null"
                      ng-disabled="propertyForm.$invalid">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <field-info data="data" meta="meta" field="{{field}}" previous-value="previousValue" read-only="readOnly"
              undo-callback="undoCallback"/>
</fieldset>
