<div class="container-fluid">
  <div class="row" vertilize-container>
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" class="cache-cards" id-generator="cache_cards_container">
      <br/>

      <div class="alert alert-info" ng-show="filtered.length < ctrl.serverGroup.members.length">
        <span class="fa fa-filter"></span> Showing {{filtered.length}} nodes out of {{ctrl.serverGroup.members.length}}
        total.
      </div>

      <div ng-if="ctrl.isDomainMode()" class="col-xs-6 col-sm-4 col-md-2">
        <a id="add.button" data-original-title="Add Node" ng-click="ctrl.createServerModal()"
           data-toggle="modal"
           class="add" data-toggle="tooltip" data-placement="top" title="Add Node">
          <div class="card-pf card-pf-accented card-pf-aggregate-status" vertilize>
            <h2 class="card-pf-title">Add Node
            </h2>

            <div style="height: 50px;" class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">
                    <span class="pficon pficon-add-circle-o"></span>
                </span>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2" id-generator="groups"
           ng-repeat="server in filtered = (ctrl.serverGroup.members | serverFilter:ctrl.serverInetMap:searchNameQuery)"
           ng-show="true">
        <a ui-sref="server-instance({
            serverGroupName:ctrl.serverGroup.name,
            host:server.host,
            server:server.name})" title="View Node Details">
          <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-with-action" vertilize>
            <h2 class="card-pf-title">
              <span class="pficon" ng-class="{'fa fa-power-off':ctrl.isServerStopped(server),
              'pficon-warning-triangle-o':(ctrl.isServerInReloadRequired(server) || ctrl.isServerInRestartRequired(server)),
              'pficon-ok':ctrl.isServerRunning(server)}"></span>{{server.name}}
            </h2>

            <div class="card-pf-body">
              <h4 ng-show="ctrl.isDomainMode()">{{server.host}}</h4>
              <p ng-show="ctrl.isCoordinator(server)" translate>COORDINATOR</p>
              <p ng-show="!ctrl.isCoordinator(server)">&nbsp;</p>
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">{{ctrl.getServerInetAddress(server)}}</span>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <br>
      <small>Quick search:</small>
      <form role="form" class="search-pf has-button">
        <div class="form-group has-clear">
          <div class="search-pf-input-group">
            <input id-generator="search" type="text" class="form-control" ng-model="searchNameQuery"
                   placeholder="Type name, IP address, ..." type="search">
            <button style="display: none;" type="button" class="clear" aria-hidden="true"><span
              class="pficon pficon-close"></span></button>
          </div>
        </div>
        <div class="form-group">
          <button id="search.button" class="btn btn-default" type="submit"><span class="fa fa-search"></span>
          </button>
        </div>
      </form>
      <hr>
    </div>
  </div>
</div>
