<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="stopping_modal.title">Servers Stopping</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-1 modal-body-spinner-icon">
        <span class="spinner spinner-lg spinner-inline"></span>
      </div>
      <div class="col-xs-11 modal-body-text">
        <h3 class="modal-message" translate>
          STOPPING_SERVER_BOOT_MESSAGE
        </h3>
      </div>
    </div>
  </div>
</div>
