<div>
  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="General" active="true">
      <configuration-section fields="[{name: 'Main', fields: ['name', 'cache-container', 'context-path', 'extended-headers']},
                                      {name: 'Sockets', fields: ['socket-binding']}]" data="$ctrl.data"
                             meta="$ctrl.getMetaForResource('')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                             read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks" render="true"/>
    </uib-tab>
    <uib-tab heading="Authentication">
      <configuration-section fields="[{name: 'Authentication', fields: ['auth-method', 'security-realm']}]"
                             data="$ctrl.data.authentication.AUTHENTICATION" meta="$ctrl.getMetaForResource('children.authentication.model-description.AUTHENTICATION')"
                             init-defaults="initDefaults" read-only="$ctrl.readOnly"
                             config-callbacks="$ctrl.configCallbacks" removable="true" render="true"/>
    </uib-tab>
    <uib-tab heading="Encryption">
      <configuration-section fields="[{name: 'Encryption', fields: ['require-ssl-client-auth', 'security-realm']}]"
                             data="$ctrl.data.encryption.ENCRYPTION" meta="$ctrl.getMetaForResource('children.encryption.model-description.ENCRYPTION')"
                             init-defaults="initDefaults" read-only="$ctrl.readOnly"
                             config-callbacks="$ctrl.configCallbacks" removable="true" render="true"/>

      <div class="panel panel-default panel-list">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">SNI Configurations</h3></div>
            <!-- <div class="col-md-1 col-md-push-3"><span class="pficon pficon-add-circle-o" ng-click="$ctrl.openAddSniModal()"></span></div> -->
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">
            <div class="col-md-12 list-view-container">
              <sni-list add-action="$ctrl.addNewSniToRest($event)" remove-action="$ctrl.removeItem($event)" parent="$ctrl.data.encryption.ENCRYPTION" list-id="{{$ctrl.paths.encryptionSni}}"></sni-list>
            </div>

          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
