<div>
  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="General" active="true">
      <configuration-section fields="[{name: 'Main', fields: ['hotrod-socket-binding', 'rest-socket-binding']},
                                      {name: 'TCP', fields: ['receive-buffer-size', 'send-buffer-size', 'tcp-nodelay', 'keep-alive']}]"
                             data="$ctrl.data" meta="$ctrl.getMetaForResource('')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                             read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks"/>
    </uib-tab>

    <uib-tab heading="Hotrod">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">Hotrod Connectors</h3></div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">

            <div class="col-md-12 list-view-container">
              <pf-list-view id="hotrod" config="{useExpandingRows:true}"
                            items="::$ctrl.data['multi-tenancy'].MULTI_TENANCY.hotrod">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                </div>
                <list-expanded-content>
                  <div class="col-md-8 list-view-container">
                    <pf-list-view id="hotrod-inner"
                                  items="$parent.item.sni">
                      <div class="list-group-item-text">
                        <label class="control-label">Host name</label>
                        <input class="form-control" type="text" ng-model="item['host-name']"/>
                        <label class="control-label">Security realm</label>
                        <input class="form-control" type="text" ng-model="item['security-realm']"/>
                      </div>
                    </pf-list-view>
                  </div>
                </list-expanded-content>
              </pf-list-view>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab heading="REST">

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">Rest Connectors</h3></div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">

            <div class="col-md-12 list-view-container">
              <pf-list-view id="rest" config="{useExpandingRows:true}"
                            items="::$ctrl.data['multi-tenancy'].MULTI_TENANCY.rest">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                </div>
                <list-expanded-content>
                  <div class="col-md-8 list-view-container">
                    <pf-list-view id="rest-inner"
                                  items="$parent.item.prefix">
                      <div class="list-group-item-text">
                        <label class="control-label">Prefix</label>
                        <input class="form-control" type="text" ng-model="item.path"/>
                      </div>
                    </pf-list-view>
                  </div>
                </list-expanded-content>
              </pf-list-view>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
