<div class="router-connector">
  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="General" active="true">
      <configuration-section fields="[{name: 'Main', fields: ['hotrod-socket-binding', 'rest-socket-binding']},
                                      {name: 'TCP', fields: ['receive-buffer-size', 'send-buffer-size', 'tcp-nodelay', 'keep-alive']}]"
                             data="$ctrl.data" meta="$ctrl.getMetaForResource('')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                             read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks" render="true"/>
    </uib-tab>

    <uib-tab heading="Hotrod">
      <div class="panel panel-default panel-list">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">Hotrod Connectors</h3></div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">

            <div class="col-md-12 list-view-container">
              <!-- NEW HOTROD -->
              <pf-list-view id="hotrod"
                            config="{useExpandingRows:true}"
                            items="::[{}]">
                  <div class="list-view-pf-description">
                    <div class="list-group-item-heading">
                      <span translate>NEW_HOTROD</span>
                    </div>
                  </div>
                <list-expanded-content>
                  <form class="form-horizontal" name="templateForm">
                    <div class="form-group">
                      <label class="col-md-4 control-label">* <span translate>NEW_HOTROD_NAME</span></label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="$ctrl.newHotrod.hotrod" id-generator="hotrod-name" required/>
                      </div>
                      <div class="col-md-2 pull-left" style="padding-left: 0">
                        <i class="fa fa-info-circle ng-scope" uib-tooltip="Name for the new Hot Rod" tooltip-trigger="" tooltip-animation="true" tooltip-placement="top"></i>
                      </div>  
                    </div>
                    <div class="form-group">
                      <label class="col-md-4 control-label">* <span translate>NEW_HOTROD_HOST_NAME</span></label>
                      <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="$ctrl.newHotrod.name" id-generator="hotrod-name-prop" required/>
                      </div>
                      <div class="col-md-2 pull-left" style="padding-left: 0">
                        <i class="fa fa-info-circle ng-scope" uib-tooltip="Name for the new Hot Rod" tooltip-trigger="" tooltip-animation="true" tooltip-placement="top"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-xs-12 add-sni-button">
                        <button type="button" class="btn btn-primary " ng-click="$ctrl.addNewHotrod()" translate>ADD</button>
                      </div>
                    </div>
                  </form>
                </list-expanded-content>
              </pf-list-view>
              <!-- NEW HOTROD END -->

              <div class="row">

              </div>
              <!-- SNI LIST -->
              <pf-list-view id="hotrod"
                            config="{useExpandingRows:true, selectionMatchProp: ''}"
                            class="multi-tenancy"
                            items="$ctrl.data['multi-tenancy'].MULTI_TENANCY.hotrod">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                </div>
                <list-expanded-content>
                  <sni-list add-action="$ctrl.addNewSniToMultiTenancyHotrod($event)" remove-action="$ctrl.removeItem($event)" parent="$parent.item" list-id="{{$ctrl.paths.hotrod + '.' + $parent.item.nodeName + '.sni'}}"></sni-list>
                </list-expanded-content>
              </pf-list-view>
              <!-- SNI LIST END -->
            </div>
          </div>
        </div>
      </div>
    </uib-tab>

    <uib-tab heading="REST">

      <div class="panel panel-default panel-list">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-6"><h3 class="panel-title">Rest Connectors</h3></div>
          </div>
        </div>

        <div class="panel-body">
          <div class="form-horizontal">
            <div class="col-md-12 list-view-container">
              <add-node props="$ctrl.newRestConnectorProps"
                node-id="rest-connector"
                title="NEW_REST_CONNECTOR"
                parent="$ctrl.data['multi-tenancy'].MULTI_TENANCY.rest"
                add-action="$ctrl.addNewConnectorToRest($event)">
              </add-node>
              <pf-list-view id="rest"
                            config="{useExpandingRows:true, selectionMatchProp: ''}"
                            class="multi-tenancy"
                            items="$ctrl.data['multi-tenancy'].MULTI_TENANCY.rest">
                <div class="list-view-pf-description">
                  <div class="list-group-item-heading">
                    {{item.name}}
                  </div>
                </div>
                <list-expanded-content>
                  <!--<div class="col-md-8 list-view-container">-->
                    <pf-list-view id="rest-inner"
                                  config="{selectionMatchProp: ''}"
                                  items="$parent.item.prefix">
                        <div class="list-view-pf-description">
                          <div class="list-group-item-heading">
                            <label class="control-label">Path</label> {{item.path}}
                          </div>
                        </div>
                      </div>
                    </pf-list-view>
                  <!--</div>-->
                </list-expanded-content>
              </pf-list-view>
            </div>
          </div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
