<div>
  <uib-tabset vertical="true" type="pills">
    <uib-tab heading="General" active="true">
      <configuration-section fields="[{name: 'Main', fields: ['name', 'cache-container']},
                                      {name: 'TCP', fields: ['socket-binding','idle-timeout', 'receive-buffer-size', 'send-buffer-size', 'tcp-nodelay']},
                                      {name: 'Other', fields: ['worker-threads']}]" data="$ctrl.data"
                             meta="$ctrl.getMetaForResource('')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                             read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks" render="true"/>
    </uib-tab>
  </uib-tabset>
</div>
