<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">JDBC Store</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="col-md-4 control-label">Type</label>

            <div class="col-md-4">
              <select class="form-control" ng-model="data['jdbc-type']"
                      ng-options="item as item for item in metadata.storeTypes"
                      ng-disabled="readOnly" ng-change="updateStoreType('{{data['jdbc-type']}}')"
                      ng-style="getStyle(field)"/>
            </div>

            <div class="col-md-4 pull-left">
              <i class="fa fa-info-circle" tooltip="The type of JDBC store" tooltip-trigger tooltip-animation="true"
                 tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified('jdbc-type')"><a ng-click="undoTypeChange()">(Undo)</a>
              <span ng-if="fieldChangeRequiresRestart('jdbc-type')">Restart needed</span></span>
            </div>
          </div>

          <div ng-if="data['jdbc-type']">
            <div class="form-group">
              <label class="col-md-4 control-label">Datasource</label>

              <div class="col-md-4">
                <input class="form-control" type="text" ng-model="store['datasource']" ng-disabled="readOnly"
                       ng-change="fieldValueModified('datasource')" ng-style="getStyle('datasource')"/>
              </div>

              <div class="col-md-4 pull-left">
                <i class="fa fa-info-circle" tooltip="{{metadata.datasource.description}}"
                   tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified('datasource')"><a ng-click="undoFieldChange('datasource')">(Undo)</a>
              <span ng-if="fieldChangeRequiresRestart('datasource')">Restart needed</span></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label">Dialect</label>

              <div class="col-md-4">
                <select class="form-control" ng-model="store['dialect']"
                        ng-options="item as item for item in metadata.dialect.allowed"
                        ng-disabled="readOnly" ng-change="fieldValueModified('dialect')"
                        ng-style="getStyle('dialect')"/>
              </div>

              <div class="col-md-4 pull-left">
                <i class="fa fa-info-circle" tooltip="{{metadata.dialect.description}}"
                   tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified('dialect')"><a ng-click="undoFieldChange('dialect')">(Undo)</a>
              <span ng-if="fieldChangeRequiresRestart('dialect')">Restart needed</span></span>
              </div>
            </div>

            <div class="form-group"
                 ng-if="data['jdbc-type'] === 'string-keyed-jdbc-store' || data['jdbc-type'] === 'mixed-keyed-jdbc-store' || hasStringKeyedTable()">
              <label class="col-md-4 control-label">String keyed table</label>

              <div class="col-md-4">
                <button type="button" class="btn btn-link" ng-click="openModal('string-keyed-table')"
                ng-style="getStyle('string-keyed-table')">
                  <span class="glyphicon glyphicon-option-horizontal" />
                </button>
              </div>
              <div class="col-md-4 pull-left">
                <i class="fa fa-info-circle" tooltip="{{metadata['string-keyed-table'].description}}"
                   tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
                <span ng-if="isFieldValueModified('string-keyed-table')"><a ng-click="undoFieldChange('string-keyed-table')">(Undo)</a>
                <span ng-if="fieldChangeRequiresRestart('string-keyed-table')">Restart needed</span></span>
              </div>
            </div>

            <div class="form-group"
                 ng-if="data['jdbc-type'] === 'binary-keyed-jdbc-store' || data['jdbc-type'] === 'mixed-keyed-jdbc-store' || hasBinaryKeyedTable()">
              <label class="col-md-4 control-label">Binary keyed table</label>

              <div class="col-md-4">
                <button type="button" class="btn btn-link" ng-click="openModal('binary-keyed-table')"
                        ng-style="getStyle('binary-keyed-table')">
                  <span class="glyphicon glyphicon-option-horizontal" />
                </button>
              </div>

              <div class="col-md-4 pull-left">
                <i class="fa fa-info-circle" tooltip="{{metadata['binary-keyed-table'].description}}"
                   tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
                <span ng-if="isFieldValueModified('binary-keyed-table')"><a ng-click="undoFieldChange('binary-keyed-table')">(Undo)</a>
                <span ng-if="fieldChangeRequiresRestart('binary-keyed-table')">Restart needed</span></span>
              </div>
            </div>

            <div class="form-group" ng-repeat="field in metadata.checkboxes">
              <label class="col-md-4 control-label">{{resolveFieldName(field)}}</label>

              <div class="col-md-4">
                <input type="checkbox" ng-model="store[field]" ng-disabled="readOnly"
                       ng-change="fieldValueModified(field)"
                       ng-style="getStyle(field)"/>
              </div>

              <div class="col-md-4 pull-left">
                <i class="fa fa-info-circle" tooltip="{{metadata[field].description}}"
                   tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified(field)"><a ng-click="undoFieldChange(field)">(Undo)</a>
              <span ng-if="fieldChangeRequiresRestart(field)">Restart needed</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
