node
node_modules
dist
.idea
.vscode
.tmp
.sass-cache
.settings
.project
.classpath
src/main/bower_components
target
*.iml
*.pyc
vendor/
typings/
report/
docs/
src/Constants.ts
src/**/*.js
src/**/*.js.map
src/**/*.css
!src/jspm.conf.js
old-source/
