<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelModal()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
  </div>
  <div class="modal-body">

    <h3 ng-if="mode === 'start'">Are you sure you want to start {{serverNode}}?</h3>
    <h3 ng-if="mode === 'stop'">Are you sure you want to stop {{serverNode}}?</h3>
  </div>
  <div class="modal-footer">

    <button ng-if="mode === 'start'" type="button" class="btn btn-default" ng-click="startNode();cancelModal()">Ok</button>
    <button ng-if="mode === 'stop'" type="button" class="btn btn-default" ng-click="stopNode();cancelModal()">Ok</button>
    <button type="button" class="btn btn-primary" ng-click="cancelModal()">Cancel</button>
  </div>
</div>
