<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="#/clusters-view-physical">Clusters</a>
        </li>
        <li><a ui-sref="clusterNodes({clusterName: clusterName, refresh: true})" ui-sref-opts="{reload:true}">{{clusterName}}</a></li>
        <li class="active"><strong>{{nodeName}}</strong></li>
      </ol>

      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refreshButton" ng-click="refresh()">
          <span class="pficon pficon-refresh"></span> Refresh
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu"
                data-toggle="dropdown" uib-dropdown-toggle>Actions<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" ng-class="serverNode.isRunning()?'disabled':''"><a id="dropdownMenuStart" role="menuitem" ng-click="openModal('start')">Start</a></li>
          <li role="presentation" ng-class="!serverNode.isRunning()?'disabled':''"><a id="dropdownMenuStop" role="menuitem" ng-click="openModal('stop')">Stop</a></li>
          <li role="presentation" ng-class="serverNode.isRunning()?'disabled':''"><a id="dropdownMenuStart" role="menuitem" ng-click="openModal('remove')">Remove</a></li>
        </ul>
      </div>
      <h1><span class="label" ng-class="serverNode.isRunning()?'label-success':'label-danger'">{{serverNode.getState()}}</span> {{nodeName}}
        <span ng-show="isCoordinator(serverNode)">(coordinator) </span><small>IP: {{serverNode.getInetAddress()}} - {{nodeStats['number-of-entries']}} entries</small>
      </h1>
    </div>
  </div>
  <!--div class="cards-pf" style="padding:20px"-->
  <div style="padding-top: 0px">
    <div class="row row-cards-pf">

      <!-- BEGIN CARD -->
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="card-pf card-pf-accented ispn-card">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">Performance</h2>
          </div>
          <div class="card-pf-body">
            <div class="row">
              <div class="col-md-12">
                <table class="col-md-12">
                  <tr>
                    <th>Avg Reads</th>
                    <td id="averageReads">{{nodeStats['average-read-time'] | number}} ms</td>
                  </tr>
                  <tr>
                    <th>Avg Writes</th>
                    <td id="averageWrites">{{nodeStats['average-write-time'] | number}} ms</td>
                  </tr>
                  <tr>
                    <th>Avg Removes</th>
                    <td id="averageRemoves">{{nodeStats['average-remove-time'] | number}} ms</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD -->


      <!-- BEGIN CARD -->
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="card-pf card-pf-accented ispn-card">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">Caching activity</h2>
          </div>
          <div class="card-pf-body">
            <div class="row">
              <div class="col-md-12">
                <table class="col-md-12">
                  <tr>
                    <th>READ Hits</th>
                    <td id="numberOfReadHits">{{nodeStats['hits'] | number}}</td>
                  </tr>
                  <tr>
                    <th>READ misses</th>
                    <td id="numberOfReadMisses">{{nodeStats['misses'] | number}}</td>
                  </tr>
                  <tr>
                    <th>REMOVE hits</th>
                    <td id="numberOfRemoveHits">{{nodeStats['remove-hits'] | number}}</td>
                  </tr>
                  <tr>
                    <th>REMOVE misses</th>
                    <td id="numberOfRemoveMisses">{{nodeStats['remove-misses'] | number}}</td>
                  </tr>
                  <tr>
                    <th>PUTS</th>
                    <td id="numberOfPuts">{{nodeStats['stores'] | number}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CARD -->

      <div class="col-xs-6 col-sm-6 col-md-6" match-height="ispn-card">
        <div class="card-pf card-pf-accented ispn-card">
          <div class="card-pf-heading">
            <h2 class="card-pf-title">Performance metrics</h2>
          </div>
          <div class="card-pf-body">
            <div class="row">
              <div class="col-md-8" ng-show="serverNode.isRunning()">
                <h4>Memory Usage</h4>

                <c3chart bindto-id="pie-plot1-chart" chart-data="dataPoints" chart-columns="dataColumns">
                  <chart-size chart-height="220" chart-width="220"/>
                  <chart-donut title="Memory" width="30"/>
                </c3chart>
              </div>
              <div class="col-md-8" ng-show="!serverNode.isRunning()">
                <h4>Node is stopped</h4>
              </div>
              <div class="col-md-4">
                <h4>Threads</h4>
                <table class="col-md-12">
                  <tr>
                    <th>Count</th>
                    <td id="threadCount">{{threadCount}}</td>
                  </tr>
                  <tr>
                    <th>Peak</th>
                    <td id="threadPeakCount">{{threadPeakCount}}</td>
                  </tr>
                  <tr>
                    <th>Daemon</th>
                    <td id="threadDaemonCount">{{threadDaemonCount}}</td>
                  </tr>
                </table>
                <h4>Direct Buffers</h4>
                <table class="col-md-12">
                  <tr>
                    <th>Count</th>
                    <td id="directBufferPoolCount">{{directBufferPoolCount}}</td>
                  </tr>
                  <tr>
                    <th>Memory</th>
                    <td id="directBufferPoolMemoryUsed">{{(directBufferPoolMemoryUsed/1024/1024)|number}} MB</td>
                  </tr>
                </table>
                <h4>Mapped Buffers</h4>
                <table class="col-md-12">
                  <tr>
                    <th>Count</th>
                    <td id="mappedBufferPoolCount">{{mappedBufferPoolCount}}</td>
                  </tr>
                  <tr>
                    <th>Memory</th>
                    <td id="mappedBufferPoolMemoryUsed">{{(mappedBufferPoolMemoryUsed/1024/1024)|number}} MB</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

