<nav class="navbar navbar-default navbar-pf" role="navigation" ng-if="ctrl.isVisible()">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img ng-src="{{ctrl.brandImage}}" alt="{{ctrl.brandName}}"/>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">

      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" type="button" id="logoutDropdown" uib-dropdown-toggle>
          <span class="pficon pficon-user"></span>
          {{ ctrl.getUser() }}<b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="logoutDropdown">
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'disabled' : 'enabled'">
            <a id="logout" role="menuitem" ng-click="ctrl.logout()">Log out</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <ul class="nav navbar-nav navbar-primary">
    <li>
      <a href="#/containers" translate>CACHES</a>
    </li>
    <li ng-if="ctrl.hasClusterView()">
      <a href="#/server-groups" translate>CLUSTERS</a>
    </li>
    <li ng-if="ctrl.hasClusterView()">
      <a href="#/events" translate>STATUS_EVENTS</a>
    </li>
    <div ng-if="!ctrl.isApiAvailable()" class="toast-pf toast-pf-max-width toast-pf-top-right alert alert-warning alert-dismissable" >
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon pficon-warning-triangle-o"></span>
      Connection to server has been lost!
    </div>
  </ul>

  </div>
</nav>

<div ng-if="!ctrl.stateChanging" ui-view=""/>
<div class="container-fluid" ng-show="ctrl.stateChanging">
  <div class="centering text-center">
    <span class="spinner spinner-lg spinner-inline"></span>
    <p translate>LOADING</p>
  </div>
</div>
