<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
  <div class="row header-row">
    <div class="col-sm-8 col-md-9">
      <ol class="breadcrumb">
        <li translate>CACHE_CONTAINERS</li>
      </ol>
      <h1 translate>CACHE_CONTAINERS</h1>
      <br>
      <table class="table ispn-aligned">
        <tr>
          <th translate>NAME</th>
          <th translate>STATUS</th>
          <th translate>NUMBER_OF_CACHES</th>
          <th ng-if="!ctrl.isStandaloneLocalMode()" translate>CLUSTERING_INFO</th>
          <th translate>ENDPOINTS</th>
          <th translate>SITES</th>
        </tr>

        <tr ng-repeat="container in ctrl.containers track by $index">
          <td><strong><a id-generator="{{ctrl.getContainerId('name', container)}}" href="#/containers/{{container.profile}}/{{container.name}}/caches">{{container.name}}</a></strong></td>
          <td><span id-generator="{{ctrl.getContainerId('status', container)}}" class="label isCacheAvailable" ng-class="ctrl.getAvailabilityClass(container)">{{ctrl.getAvailability(container)}}</span></td>
          <td><span id-generator="{{ctrl.getContainerId('total_caches', container)}}" class="numberOfCaches label label-default">{{container.numberOfCaches}}</span></td>
          <td ng-if="!ctrl.isStandaloneLocalMode()">
            <a id-generator="{{ctrl.getContainerId('cluster', container)}}" class="clusterName" ui-sref="server-group({serverGroup: container.serverGroup.name})">{{container.serverGroup.name}}</a><br>
            <small class="stack">{{ctrl.getDefaultStack(container)}}</small>
          </td>
          <td>
            <div id-generator="{{ctrl.getContainerId('endpoints', container)}}" class="endpoint" ng-repeat="endpoint in container.endpoints">
                <div ng-if="ctrl.isMultiTenantRouter(endpoint)">
                  <span>multi-tenancy router</span></br>
                    <!--
                    <span ng-if="endpoint['hotrod-socket-binding']">&nbsp;&nbsp;{{endpoint['hotrod-socket-binding'].name + " : " + endpoint['hotrod-socket-binding'].port}}</span></br>
                    <span ng-if="endpoint['rest-socket-binding']">&nbsp;&nbsp;{{endpoint['rest-socket-binding'].name + " : " + endpoint['rest-socket-binding'].port}}</span></br>
                    -->
                </div>
                <span ng-if="!ctrl.isMultiTenantRouter(endpoint)"> {{ctrl.displayEndpoint(endpoint)}}</br></span>
            </div>
          </td>
          <td id-generator="{{ctrl.getContainerId('sites', container)}}">
            <div id-generator="{{ctrl.getContainerId('sites-online', container)}}"
                 ng-repeat="site in container['sites-online']"><span class="pficon pficon-ok"></span>{{site}}
            </div>
            <div id-generator="{{ctrl.getContainerId('name', container)}}"
                 ng-repeat="site in container['sites-mixed']">
              <span class="pficon pficon-warning-triangle-o"></span> <span class="label label-warning">{{site}}</span>
            </div>
            <div id-generator="{{ctrl.getContainerId('name', container)}}"
                 ng-repeat="site in container['sites-offline']">
              <span class="pficon pficon-error-circle-o"></span> <span class="label label-danger">{{site}}</span>
            </div>
            <div id-generator="{{ctrl.getContainerId('name', container)}}" ng-if="ctrl.isSitesEmpty(container)">N/A</div>
          </td>
        </tr>
      </table>
    </div>
    <div id-generator="events" class="pre-scrollable col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 923px;">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5" translate>LATEST_GRID_EVENTS</h2>
      </div>
      <ul class="list-group"  ng-if="ctrl.gridEvents.length > 0">
        <li class="list-group-item" ng-repeat="event in ctrl.gridEvents">
          <h3 class="list-group-item-heading">
            <span ng-if="event.level=='WARN'"  class="icon-class pficon-warning-triangle-o"></span>
            <span ng-if="event.level=='INFO'"  class="icon-class pficon-info"></span>
            <span ng-if="event.level=='ERROR'" class="pficon-error-circle-o"></span>
            <span ng-if="event.level=='FATAL'" class="pficon-error-circle-o"></span>
            {{event.message}}.</h3>
          <small>{{event.when | date:'yyyy-MM-dd HH:mm:ss Z'}}<br></small>
          <small ng-if="event.server">{{event.server.host}}:{{event.server.name}}<br></small>
          <small ng-if="event.context">{{event.context}}</small>
        </li>
      </ul>

    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
