<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="confirmation_modal.title">Confirmation</h4>
  </div>
  <div class="modal-body">

    <h3 ng-if="ctrl.isDeploy()" translate
        translate-values="{artifact:ctrl.artifact, serverGroup:ctrl.container.serverGroup.name}">DEPLOY_ARTIFACT</h3>
    <h3 ng-if="ctrl.isUndeploy()" translate
        translate-values="{artifact:ctrl.artifact, serverGroup:ctrl.container.serverGroup.name}">UNDEPLOY_ARTIFACT</h3>
    <h3 ng-if="ctrl.isRemove()" translate
        translate-values="{artifact:ctrl.artifact, serverGroup:ctrl.container.serverGroup.name}">REMOVE_ARTIFACT</h3>

  </div>
  <div class="modal-footer">
    <button id="cancel.button" type="button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
    <button id="deploy.button" ng-if="ctrl.isDeploy()" type="button" class="btn btn-primary"
            ng-click="ctrl.confirmDeployArtifact();$dismiss()"><span translate>DEPLOY</span></button>
    <button id="undeploy.button" ng-if="ctrl.isUndeploy()" type="button" class="btn btn-primary"
            ng-click="ctrl.confirmUndeployArtifact();$dismiss()"><span translate>UNDEPLOY</span></button>
    <button id="remove.button" ng-if="ctrl.isRemove()" type="button" class="btn btn-primary"
            ng-click="ctrl.confirmRemoveArtifact();$dismiss()"><i class="pficon pficon-delete"></i><span translate>REMOVE</span>
    </button>
  </div>
</div>
