<div class="row">
  <div class="col-sm-12 col-md-12">
    <br>
    <table class="datatable table table-striped table-bordered">
      <thead>
      <tr>
        <th colspan="6" class="text-right">
          <div class="btn-group" role="group">
            <a role="button" class="btn btn-default" ng-click="deploymentsCtrl.openUploadModal()"><span
              class="pficon pficon-add-circle-o"></span> <span translate>UPLOAD</span></a>
          </div>
        </th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th width="230" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="artifact in deploymentsCtrl.deployments">
        <td>{{artifact.name}}</td>
        <td>{{deploymentsCtrl.artifactType(artifact.name)}}</td>
        <td>
          <form name="myForm">
            <div class="btn-group">
              <button class="btn btn-default" ng-disabled='deploymentsCtrl.canDeploy(artifact.name)'
                      ng-click="deploymentsCtrl.openConfirmationModal(artifact.name,'deploy')"><span translate>DEPLOY</span></button>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" ng-disabled='deploymentsCtrl.canUndeploy(artifact.name)'
                      ng-click="deploymentsCtrl.openConfirmationModal(artifact.name, 'undeploy')"><span translate>UNDEPLOY</span>
              </button>
            </div>
            <div class="btn-group">
              <button class="btn btn-default" ng-click="deploymentsCtrl.openConfirmationModal(artifact.name, 'remove')"><i
                class="pficon pficon-delete"></i> <span translate>REMOVE</span></button>
            </div>
          </form>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>

