<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Security</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal" ng-if="!hasSecurityBeenDefinedGlobally()">

          <div class="form-group">
            <label class="col-md-8 control-label">Security has not been defined globally. Define it first in <a
              ui-sref="editCacheContainerSchemas({groupName: cluster.getServerGroupName(), clusterName:cluster.name })">cache
              container</a> and then here.</label>
          </div>

        </div>
        <div class="form-horizontal" ng-if="hasSecurityBeenDefinedGlobally()">
          <div class="form-group">
            <label class="col-md-4 control-label">Enabled</label>

            <div class="col-md-4">
              <input type="checkbox" ng-change="fieldValueModified('enabled')"
                     ng-style="getStyle('enabled')" ng-model="data['enabled']" ng-change="fieldValueModified('enabled')"/>
            </div>

            <div class="col-md-4 pull-left">
              <i class="fa fa-info-circle" tooltip="{{metadata['enabled'].description}}"
                 tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
              <span ng-if="isFieldValueModified('enabled')"><a ng-click="undoFieldChange('enabled')">(Undo)</a></span>
            </div>
          </div>

          <div class="form-group" ng-if="isSecurityEnabled()">
            <label class="col-md-4 control-label">Roles</label>
            <div class="col-md-4">
              <div class="col-md-12" ng-repeat="role in getRoleNames()">
                <label>
                  <input type="checkbox" value="{{role}}" ng-checked="isRoleSelected(role)"
                         ng-click="toggleSelection(role)"> {{role}}</label>
              </div>
            </div>
            <div class="col-md-4 pull-left">
              <i class="fa fa-info-circle" tooltip="Roles allowed to access"
                 tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
