<uib-accordion close-others="oneAtATime">
  <div uib-accordion-group class="panel-default">
    <uib-accordion-heading>{{ctrl.name}} {{ctrl.description}}</uib-accordion-heading>
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <div class="form-group">
          <span>Enter key: </span>
          <input class="form-control" type="text" id="{{ctrl.name}}-input-text" ng-model="ctrl.inputParams[0]"/>
        </div>
      </div>
      <div class="col-sm-9 col-lg-6">
        <div class="form-group">
          <span>Enter value: </span>
          <textarea id="{{ctrl.name}}-input-text-area" class="form-control vresize" rows="5" ng-model="ctrl.inputParams[1]"></textarea>
          <button type="button" class="btn btn-default execute-button" ng-click="ctrl.executeAction()">Execute</button>
        </div>
      </div>
    </div>
    <hr class="query-panel-hr">
    <div class="row">
      <div class="col-sm-3 col-lg-2">
        <p>Status Code</p>
        <p><strong>{{ ctrl.statusCode ? ctrl.statusCode : ''}}</strong></p>
      </div>
      <div class="col-sm-9 col-lg-6 border-left-separator">
        <p>Response</p>
        <textarea class="form-control" rows="10" id="{{ctrl.name}}-response-text-area"></textarea>
      </div>
    </div>
  </div>
</uib-accordion>
