<div class="container-fluid">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Store</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal" ng-init="prevType = getCurrentStoreType()">

          <form-group data="data" field="store-type" meta="metadata['store-type']"
                      previous-value="prevData['store-type']" read-only="readOnly"
                      option-string="item.id as item.label for item" option-values="metadata.storeTypes"
                      change-callback="updateStoreType" undo-callback="undoStoreTypeChange"/>
        </div>
      </div>
    </div>


    <div class="panel panel-default" ng-if="data['store-type'] !== 'None'">
      <div class="panel-heading">
        <h3 class="panel-title">Store Properties</h3>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          <div ng-if="!isNoStoreSelected()">
            <div ng-include="'components/directives/cache/store/views/common-store-attributes.html'"></div>
            <hr>
            <!--Load specific Store fields here-->
            <div ng-include="storeView"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
