<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-8 col-md-9">
      <ol class="breadcrumb">
        <li>Domain</li>
      </ol>
      <h1>Clusters</h1>
      <br>
      <table class="table ispn-aligned">
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th># Hosts</th>
          <th># Nodes</span>
          </th>
        </tr>

        <tr ng-repeat="cluster in groups track by $index">
          <td><span class="label clusterStatus"
                    ng-class="(cluster.status === 'STARTED')?'label-success':'label-danger'">{{cluster.status}}</span></td>
          <td style="padding: 10px"><strong><a class="clusterName" ui-sref="clusterNodes({clusterName: cluster.name})">{{cluster.name}}</a></strong></td>
          <td style="padding: 10px"><span class="label label-default clusterHostCount">{{cluster.hostCount}}</span></td>
          <td style="padding: 10px"><span class="label label-default clusterNodeCount">{{cluster.nodeCount}}</span></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 923px;">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">Latest status Events:</h2>
      </div>
      <ul class="list-group"  ng-if="gridEvents.length > 0" >
        <li class="list-group-item" ng-repeat="event in gridEvents | orderBy:'when'">
          <h3 class="list-group-item-heading">
            <span ng-if="event.level=='WARN'"  class="icon-class pficon-warning-triangle-o"></span>
            <span ng-if="event.level=='INFO'"  class="icon-class pficon-info"></span>
            <span ng-if="event.level=='ERROR'" class="pficon-error-circle-o"></span>
            {{event.message}}.</h3>
          <small>{{event.when | date:'yyyy-MM-dd HH:mm:ss Z'}}</small><br>
          <small ng-if="event.scope">{{event.scope}}<br></small>
          <small ng-if="event.context">{{event.context}}</small>
        </li>
      </ul>
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
