<div>
    <uib-tabset vertical="true" type="pills">
        <uib-tab heading="General" active="true">
            <configuration-section fields="[{name: 'Main', fields: ['type', 'template-name']},
                                      {name: 'Clustering', fields: ['mode', 'remote-timeout']},
                                      {name: 'Monitoring', fields: ['statistics', 'jndi-name']}]" data="$ctrl.data"
                                   meta="$ctrl.getMetaForResource('general')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   read-only-fields="$ctrl.readOnlyFields" config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

        <uib-tab heading="Locking">
            <configuration-section fields="[{name: 'Locking', fields: ['acquire-timeout', 'concurrency-level', 'isolation', 'striping']}]"
                                   data="$ctrl.data.locking.LOCKING" meta="$ctrl.getMetaForResource('locking')"
                                   init-defaults="initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>
        <uib-tab heading="Eviction">
            <configuration-section fields="[{name: 'Eviction', fields:['type', 'strategy', 'size']}]" data="$ctrl.data.eviction.EVICTION"
                                   meta="$ctrl.getMetaForResource('eviction')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>
        <uib-tab heading="Expiration">
            <configuration-section fields="[{name: 'Expiration', fields: ['lifespan', 'interval', 'max-idle']}]"
                                   data="$ctrl.data.expiration.EXPIRATION" meta="$ctrl.getMetaForResource('expiration')"
                                   init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>
        <uib-tab heading="Indexing">
            <configuration-section fields="[{name: 'Indexing', fields: ['indexing', 'auto-config', 'indexing-properties']}]"
                                   data="$ctrl.data.indexing.INDEXING" meta="$ctrl.getMetaForResource('indexing')"
                                   init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>
        <uib-tab heading="Compatibility">
            <configuration-section fields="[{name: 'Compatibility', fields: ['enabled', 'marshaller']}]" data="$ctrl.data.compatibility.COMPATIBILITY"
                                   meta="$ctrl.getMetaForResource('compatibility')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

        <uib-tab heading="Transactions">

            <configuration-section fields="[{name: 'Transactions', fields:['locking', 'mode', 'stop-timeout']}]" data="$ctrl.data.transaction.TRANSACTION"
                                   meta="$ctrl.getMetaForResource('tx')" init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                                   config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

        <uib-tab heading="Security">
            <cache-security container="$ctrl.container" data="$ctrl.data.security.SECURITY"
                            meta="$ctrl.getMetaForResource('authorization')"
                            init-defaults="$ctrl.initDefaults" read-only="$ctrl.readOnly"
                            config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

        <uib-tab heading="Loader">
        <cache-loaders data="$ctrl.data['loader'].LOADER" meta="$ctrl.getMetaForResource('loader')" init-defaults="$ctrl.initDefaults"
        read-only="$ctrl.readOnly" config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

        <uib-tab heading="Store">
            <cache-stores data="$ctrl.data" meta="$ctrl.meta" cache-type="cacheType" read-only="$ctrl.readOnly"
                          config-callbacks="$ctrl.configCallbacks"/>
        </uib-tab>

    </uib-tabset>
</div>
