<div class="modal-content ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel"><span ng-if="!task.editing">Create new script task</span><span
      ng-if="task.editing">Edit script task</span></h4>
  </div>
  <div class="modal-body">

    <!-- User feedback reporting -->
    <div class="row" ng-if="errorExecuting || successExecuteOperation ">
      <div class="col-sm-12 col-md-12">
        <div class="alert alert-success alert-dismissable" ng-if="successExecuteOperation">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <span class="pficon pficon-ok"></span>
          <strong>Success!</strong> The operation has been successfully executed.
        </div>

        <div class="alert alert-danger alert-dismissable" ng-if="errorExecuting">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
          <span class="pficon  pficon-error-circle-o"></span>
          <strong>Error</strong> There has been an error executing the operation: {{errorDescription}}
        </div>
      </div>
    </div>
    <!-- End of user feedback -->

    <form class="form-horizontal" name="taskForm">

      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group">
        <label class="col-md-3 control-label">* Task name:</label>

        <div class="col-md-8">
          <input type="text" class="form-control" name="taskName" ng-model="task.name" ng-required="true"
                 ng-disabled="task.editing">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip="Name of the script task" tooltip-animation="true"
             tooltip-placement="left"></i>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group" ng-show="!task.editing">
        <label class="col-md-3 control-label">* Language:</label>

        <div class="col-md-8">
          <select class="form-control" ng-model="task.language" ng-required="true">
            <option>javascript</option>
            <!--option>Scala</option-->
          </select></div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope"
             tooltip="Defines the script engine that will be used to execute the script, e.g. Javascript"
             tooltip-animation="true" tooltip-placement="left"></i>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group" ng-show="!task.editing">
        <label class="col-md-3 control-label">Parameters:</label>

        <div class="col-md-8">
          <input class="form-control" type="text" name="taskParameters" ng-model="task.parameters" ng-required="false">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left"
             tooltip="An array of valid parameter names for this script. Invocations which specify parameter names not included in this list will cause an exception"></i>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group" ng-show="!task.editing">
        <label class="col-md-3 control-label">* Execution mode:</label>

        <div class="col-md-8">
          <select class="form-control" name="taskExecutionMode" ng-model="task.mode" ng-required="true">
            <option value="local">Local</option>
            <option value="distributed">Distributed</option>
          </select>
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left" tooltip="Script execution mode"></i>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group" ng-show="!task.editing">
        <label class="col-md-3 control-label">Security role:</label>

        <div class="col-md-8">
          <input class="form-control" type="text" name="taskRole" ng-model="task.role" ng-required="false">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left"
             tooltip="A specific role which is required to execute the script"></i>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->
      <div class="form-group">
        <label class="col-md-3 control-label">* Script body:</label>

        <div class="col-md-8">
          <textarea class="form-control" rows="15" ng-model="task.body" name="taskBody" ng-required="true"></textarea>
        </div>
      </div>
      <!--------------------------------------------------------------------------------------------------------------->

    </form>
  </div>
  <div class="modal-footer">
    <button id="cancelButton" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button id="createScriptButton" ng-show="!task.editing" ng-disabled="!taskForm.$valid" class="btn btn-primary"
            ng-click="createScript();">Create
      script task
    </button>
    <button id="editScriptButton" ng-show="task.editing"
            ng-disabled="!taskForm.taskName.$valid || !taskForm.taskBody.$valid " class="btn btn-primary"
            ng-click="createScript();">Update
      script task
    </button>
  </div>
</div>
