<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Add new cache</h4>
  </div>
  <div class="modal-body">

    <h4><b>Step 1</b>: Please, enter the required cache properties:</h4>
    <br>

    <form class="form-horizontal" name="form" novalidate>
      <div class="form-group" ng-class="{'has-error': form.cacheName.$invalid}">
        <label class="col-md-4 control-label">Name:</label>

        <div class="col-md-6">
          <input type="text" class="form-control" name="cacheName" ng-model="cacheName" ng-disabled="readOnly"
                 required="" valid-cache-name>
          <span ng-show="form.cacheName.$error.validCacheName">Cache already exists!</span>
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="The cache name" tooltip-trigger="" tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Base configuration:</label>

        <div class="col-md-6">
          <select ng-model="selectedTemplate" class="form-control"
                    ng-options="template for template in configurationTemplates"/>
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="Configuration template to create cache" tooltip-trigger=""
             tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="cancelButton" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button id="configureTemplateButton" ng-disabled="form.$invalid || !isTemplateSelected()"
            type="button" class="btn btn-primary" ng-click="configureTemplate()">Next</button>
  </div>
</div>
