<!-- MAIN START -->
<div class="container-fluid" style="margin:20px">

    <!-- TOP ROW #1 START -->
    <div class="row">
        <div class="col-md-2">
            <select class="selectpicker" ng-model="currentCluster" ng-options="cluster.name for cluster in clusters"/>
        </div>
        <div class="col-md-2 text-center">
            <span class="bigger-font"> {{currentCluster.getNodes().length || '?'}} </span> <span class="smaller-font"> Nodes</span>
        </div>

        <div class="col-md-2 text-center">
          <span class="bigger-font"> {{currentCluster.getCachesAsArray().length || '?'}} </span> <span class="smaller-font"> Caches</span>
        </div>
        <!-- <div class="col-md-3 text-center">
            <a class="bigger-font link-jobs">?</a> <span class="smaller-font"> current execution jobs</span>
        </div> -->
        <div class="col-md-3">
        </div>
        <div class="col-md-3 dropdown dropdown-menu-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="clusterActionMenu" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Configure clusters</a>
                </li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Create node</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1"
                     ui-sref="createCache({clusterName: currentCluster.name})">Create cache</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">View map/reduce jobs</a>
                </li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">View split/merge history</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Shutdown cluster</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- TOP ROW #1 END -->

    <!-- TOP ROW #2 START -->
    <div class="row">
        <div class="col-md-2 text-left">
            <p class="fa fa-1x"
               ng-class="currentClusterAvailability() ? 'available' : 'unavailable'">
                {{currentCluster.isAvailable() ? 'AVAILABLE' : 'UNAVAILABLE'}}
            </p>
        </div>
        <!-- <div class="col-md-2 text-center">
            <span class="bigger-font"> {{currentCluster.getCachesAsArray().length || '?'}} </span> <span class="smaller-font"> Caches</span>
        </div>
        <div class="col-md-3 text-center">
            <a class="bigger-font link-jobs">?</a> <span class="smaller-font"> complete tasks</span>
        </div> -->
        <div class="col-md-8">
        </div>
    </div>
    <!-- TOP ROW #2 END -->

    <div class="row stretch" style="margin-top:20px;">

        <!-- LEFT COLUMN START -->
        <div class="col-md-2 borders stretch-full" style="background-color:#F0F0F0;">
            <span>
                <button class="slider-max button-as-link" tooltip="Clear Filters" ng-click="clearFilters()">Clear all filters</button>
            </span>

            <div class="row" style="padding:10px;">
                <div class="col-md-12">
                    <div ng-show="isNodesView()">
                        <span style="font-size:16px; font-weight: bold;"> Caches</span>
                        <br>

                        <div ng-repeat="cache in currentCluster.caches">
                            <input type="checkbox" value="checkbox" name="caches">{{cache.name}}
                            <br>
                        </div>
                    </div>
                    <div ng-show="isCachesView()">
                        <span style="font-size:16px; font-weight: bold;"> Servers</span>
                        <br>

                        <div ng-repeat="node in currentCluster.getNodes()">
                            <input type="checkbox" value="checkbox" name="caches">{{node.name}}
                            <br>
                        </div>
                    </div>

                    <div ng-repeat="slider in sliders">
                        <br>
                        <br>
                        <span>{{slider.name}}</span>
                        <slider min="initialMin" max="initialMax" step=10 from="slider.from" to="slider.to"
                                unit="'ms'"></slider>
                    </div>
                </div>
            </div>
        </div>
        <!-- LEFT COLUMN END -->

        <!-- RIGHT COLUMN START -->
        <div class="col-md-10 borders-top-only">

            <!-- RIGHT COLUMN ROW #1 START -->
            <div class="row">
                <div class="col-md-12" style="padding-top:20px; padding-bottom:20px;">
                    <input type="search" class="search-field" ng-model="searchNameQuery" placeholder="Search caches or nodes">

                    <div style="float:left;">
                        <span class="glyphicon glyphicon-th-large header-links-container"
                              ng-class="{selected: isNodesView()}">
              <a class="header-links" ng-click="shared.currentCollection = 'nodes'"> Nodes </a>
            </span>
                        <span class="glyphicon glyphicon-tasks header-links-container"
                              ng-class="{selected: isCachesView()}">
              <a class="header-links" ng-click="shared.currentCollection = 'caches'"> Caches </a>
            </span>
                    </div>
                </div>
            </div>
            <!-- RIGHT COLUMN ROW #1 END -->

            <!-- RIGHT COLUMN ROW #2 START -->
            <div class="row" style="padding-left:15px !important; margin: 0px important!;">
                <div ng-show="isNodesView()">
                    <div ng-show="!currentCluster.hasNodes()">There are no nodes to show.</div>
                    <div class="box col-md-2 nopadding" ng-repeat="node in currentCluster.getNodes() | filter: {name: searchNameQuery}" ng-show="node.show">
                        <a class="text-center"
                           ui-sref="nodeDetails({clusterName: currentCluster.name, nodeName: node.name})">
                            {{node.name}} <br>
                            <div ng-show="isZoomedIn()">
                                <h6>5 caches</h6>
                                <h6>32 writes/ms</h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div ng-show="isCachesView()">
                    <div ng-show="!currentCluster.hasCaches()">There are no caches to show.</div>
                    <div class="box col-md-2 nopadding" ng-repeat="cache in currentCluster.getCachesAsArray() | filter: {name: searchNameQuery}" ng-show="cache.show">

                        <!-- from PR #7 we will have: -->
                        <!-- prepared api for use: {{currentCluster.getCache(cName).availability}}-->
                        <a ui-sref="cacheDetails({clusterName: currentCluster.name, cacheName: cache.name})">
                            <h4>{{cache.name}}</h4><br>

                            <div ng-show="isZoomedIn()">
                                <h6>{{currentCluster.getNodes().length}} nodes</h6>
                                <h6>35 writes/ms</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- RIGHT COLUMN ROW #2 END -->

            <div class="row right" style="padding-right:15px !important; margin: 0px !important;">
                <br><br><br><br><br><br>
                <span>Zoom</span>
                <slider min=0 max=1 value="zoomValue"></slider>
            </div>
            <!-- RIGHT COLUMN ROW #3 END -->

        </div>
        <!-- RIGHT COLUMN END -->

    </div>

</div>
<!-- MAIN END -->
