<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li class="active"><strong>{{currentCluster.name}} - ({{group}})</strong></li>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refreshButton" ng-click="refresh()">
          <span class="pficon pficon-refresh"></span> Refresh
        </button>
        <button class="btn btn-default" type="button" id="viewEditConfigurationButton" ui-sref="editCacheContainerSchemas({groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name})">
          <span class="pficon pficon-settings"></span> Configuration
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu"
                data-toggle="dropdown" uib-dropdown-toggle>
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'disabled' : 'enabled'">
            <a  id="dropdownMenuEnableRebalance"  role="menuitem" ng-click="confirmAndSetCacheContainerRebalance(true, 'ENABLE rebalancing for cache container?');">Enable rebalancing</a>
          </li>
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'enabled'  : 'disabled'">
            <a id="dropdownMenuDisableRebalance" role="menuitem" ng-click="confirmAndSetCacheContainerRebalance(false, 'DISABLE rebalancing for cache container?');">Disable rebalancing</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation" >
            <a id="dropdownManageSites" role="menuitem" ng-click="openSiteDialog()">Manage backup sites</a>
          </li>
        </ul>
      </div>
      <h1><span class="label"
         ng-class="currentClusterAvailability() ? 'label-success' : 'label-danger'">
        {{currentClusterAvailabilityAsString()}}
      </span>&nbsp;{{currentCluster.name}}
        <span ng-if="!currentCluster.rebalancingStatus" id="rebalancingIsDisabledLabel"> - <small class="text-danger"><span class="pficon pficon-warning-triangle-o"></span> <strong>Rebalancing is disabled</strong></small></span>
      </h1>
    </div>
  </div>

  <!-- User feedback reporting -->
  <div class="row" ng-if="errorExecuting || successExecuteOperation ">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-success alert-dismissable" ng-if="successExecuteOperation">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Success!</strong> The operation has been successfully executed.
      </div>

      <div class="alert alert-danger alert-dismissable" ng-if="errorExecuting">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon  pficon-error-circle-o"></span>
        <strong>Error</strong> There has been an error executing the operation: {{errorDescription}}
      </div>
    </div>
  </div>
  <!-- End of user feedback -->


  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <li class="active"><a>Caches</a></li>
        <li><a href="#/cluster/{{currentCluster.getServerGroupName()}}/{{currentCluster.name}}/tasks">Tasks execution</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" id="cache-cards">
      <br />

      <div class="alert alert-info" ng-show="filtered.length < currentCluster.getCachesAsArray().length">
        <span class="fa fa-filter"></span> Showing {{filtered.length}} caches out of {{currentCluster.getCachesAsArray().length}} total.
      </div>

      <div class="col-xs-6 col-sm-4 col-md-2">
        <a data-original-title="Add Cache" data-toggle="modal" ng-click="openModal()"
                          class="add" data-toggle="tooltip" data-placement="top" title="Add Cache">
          <div class="card-pf card-pf-accented card-pf-aggregate-status">
            <h2 class="card-pf-title">Add Cache
            </h2>
            <div style="height: 50px;" class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification">
                          <span class="pficon pficon-add-circle-o"></span>
                      </span>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div ng-show="!currentCluster.hasCaches()">There are no caches to show.</div>
      <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="cache in filtered = (currentCluster.getCachesAsArray() |
      filter: {name: searchNameQuery} | cacheTrait:traitCheckboxes | cacheType:typeCheckboxes)" ng-show="cache.show" on-finish-render>
        <a ui-sref="cacheStatus({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name, cacheName: cache.name})" title="View Cache Details">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-with-action">
              <h2 class="card-pf-title">
                <span class="pficon pficon-ok"></span>{{cache.name}}
              </h2>

              <div class="card-pf-body">
                <p ng-if="cache.isReplicated()">Replicated</p>
                <p ng-if="cache.isDistributed()">Distributed</p>
                <p ng-if="cache.isLocal()">Local</p>
                <p ng-if="cache.isInvalidation()">Invalidation</p>
                <p class="card-pf-aggregate-status-notifications cache-traits">
                  <span class="card-pf-aggregate-status-notification">
                      <span class="fa fa-database" title="Persistent" ng-if="cache.isPersistent()"></span>
                      <span class="fa fa-stack-overflow" title="Bounded" ng-if="cache.isBounded()"></span>
                      <span class="fa fa-arrow-circle-o-down" title="Transactional" ng-if="cache.isTransactional()"></span>
                      <span class="fa fa-lock" title="Secured" ng-if="cache.hasSecurityEnabled()"></span>
                      <span class="fa fa-list-ol" title="Indexed" ng-if="cache.isIndexed()"></span>
                      <span class="fa fa-puzzle-piece" title="Compatible" ng-if="cache.hasCompatibility()"></span>
                      <span class="pficon pficon-history" title="Remotely backed up" ng-if="cache.hasRemoteBackup()"></span>
                  </span>
                </p>
                <p ng-if="cache.hasRemoteBackup()" style="height:20px">
                  <span ng-repeat="site in offlineSites[cache.name]"><span class="pficon pficon-error-circle-o"></span> {{site}} &nbsp;</span>
                  <span ng-repeat="site in mixedSites[cache.name]"><span class="pficon pficon-warning-triangle-o"></span> {{site}} &nbsp;</span>
                  <span ng-repeat="site in onlineSites[cache.name]"><span class="pficon pficon-ok"></span> {{site}} &nbsp;</span>
                </p>
              </div>
            </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <br>
      <small>Quick search:</small>
      <form role="form" class="search-pf has-button">
        <div class="form-group has-clear">
          <div class="search-pf-input-group">
            <label for="searchTextField" class="sr-only">Name</label>
            <input class="form-control" id="searchTextField" ng-model="searchNameQuery" placeholder="Type name, data center, ..."
                   type="search">
            <button style="display: none;" type="button" class="clear" aria-hidden="true"><span
              class="pficon pficon-close"></span></button>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-default" id="searchCacheButton" type="submit"><span class="fa fa-search"></span></button>
        </div>
      </form>
      <hr>
      <div class="panel-group" id="filter-accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#filter-type-accordion"  ng-click="isCollapsedType = !isCollapsedType" class="collapsed">
                Type
              </a>
            </h4>
          </div>
          <div id="filter-type-accordion" class="panel-collapse" ng-class="isCollapsedType?'collapse':''">
            <div class="panel-body">
              <fieldset>
                <label><input type="checkbox" id="typeCheckboxLocal" value="local" ng-model="typeCheckboxes.local"/> Local</label>
                <label><input type="checkbox" id="typeCheckboxReplicated" value="replicated" ng-model="typeCheckboxes.replicated"/> Replicated</label>
                <label><input type="checkbox" id="typeCheckboxDistributed" value="distributed" ng-model="typeCheckboxes.distributed"/>Distributed</label>
                <label><input type="checkbox" id="typeCheckboxInvalidation" value="invalidation" ng-model="typeCheckboxes.invalidation"/> Invalidation</label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse"  data-parent="#filter-trait-accordion" ng-click="isCollapsedTrait = !isCollapsedTrait"
                 class="collapsed">
                Trait
              </a>
            </h4>
          </div>
          <div id="filter-trait-accordion" class="panel-collapse" ng-class="isCollapsedTrait?'collapse':''">
            <div class="panel-body">
              <fieldset>
                <label><input type="checkbox" id="traitCheckboxBounded" value="bounded" ng-model="traitCheckboxes.bounded"/> <span class="fa fa-stack-overflow" title="Bounded"></span> Bounded</label>
                <label><input type="checkbox" id="traitCheckboxCompatible" value="compatible" ng-model="traitCheckboxes.compatible"/> <span class="fa fa-puzzle-piece" title="Compatible"></span> Compatible</label>
                <label><input type="checkbox" id="traitCheckboxIndexed" value="indexed" ng-model="traitCheckboxes.indexed"/> <span class="fa fa-list-ol" title="Indexed"></span> Indexed</label>
                <label><input type="checkbox" id="traitCheckboxPersistent" value="persistent" ng-model="traitCheckboxes.persistent"/> <span class="fa fa-database" title="Persistent"></span> Persistent</label>
                <label><input type="checkbox" id="traitCheckboxRemotebackup" value="remotebackup" ng-model="traitCheckboxes.remotebackup"/> <span class="pficon pficon-history" title="Remote backup"></span> Remote Backup</label>
                <label><input type="checkbox" id="traitCheckboxSecure" value="secure" ng-model="traitCheckboxes.secure"/> <span class="fa fa-lock" title="Indexed"></span> Secure</label>
                <label><input type="checkbox" id="traitCheckboxTransactional" value="transactional" ng-model="traitCheckboxes.transactional"/> <span class="fa fa-arrow-circle-o-down" title="Transactional"></span> Transactional</label>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#filter-status-accordion"  ng-click="isCollapsedStatus = !isCollapsedStatus"
                 class="collapsed">
                Status
              </a>
            </h4>
          </div>
          <div id="filter-status-accordion" class="panel-collapse" ng-class="isCollapsedStatus?'collapse':''">
            <div class="panel-body">
              <fieldset>
                <label><input type="checkbox" id="statusCheckboxIndexing" value="indexing" ng-model="statusCheckboxes.indexing"/> Indexing</label>
                <label><input type="checkbox" id="statusCheckboxMaintenance" value="maintenance" ng-model="statusCheckboxes.offline"/> Offline</label>
                <label><input type="checkbox" id="statusCheckboxRebalancing" value="rebalancing" ng-model="statusCheckboxes.rebalancing"/> Rebalancing</label>
                <label><input type="checkbox" id="statusCheckboxSplitbrain" value="splitbrain" ng-model="statusCheckboxes.splitbrain"/> Split</label>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

