<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click='cancel()' aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>LAUNCH_NEW_TASK</h4>
  </div>
  <div class="modal-body">

    <span ng-if="!successTaskLaunch && !errorLaunching">
    <h4 translate>PLEASE_ENTER_TASK_PROPERTIES</h4>
    <br>
    </span>

    <div class="alert alert-danger alert-dismissable" ng-if="errorLaunching">
      <span class="pficon pficon-error-circle-o"></span>
      <strong>Error</strong> <span translate translate-values="{errorDescription:errorDescription}">SOME_UNEXECPECTED_OUTPUT</span>
    </div>

    <div class="alert alert-success alert-dismissable" ng-if="successTaskLaunch">
      <span class="pficon pficon-ok"></span>
      <strong>Success!</strong> <span translate>TASK_LAUNCH_SUCCESS</span>
        <span ng-if="taskOutput">Click to see <a ng-click="displayOutput = !displayOutput" class="alert-link">the task output</a>
          <span class="fa fa-angle-down"></span>
        <br>
        <pre ng-if="displayOutput">{{taskOutput}}</pre>
      </span>
      <span ng-if="!taskOutput"><span translate>TASK_EXECUTION_NO_OUTPUT</span>
    </div>

    <form class="form-horizontal" name="taskForm">
      <div class="form-group">
        <label class="col-md-4 control-label">* <span translate>TASK</span>:</label>
        <div class="col-md-6" >
          <select class="form-control"
                  ng-model="selectedTask"
                  ng-required="true"
                  ng-options="task.name for task in availableTasks"
            >
          </select>
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="Task type"></i>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">* <span translate>CACHE</span>:</label>
        <div class="col-md-6" >

          <select class="form-control"
                  name="selectedCache"
                  ng-model="selectedCache"
                  ng-options="cache.name for cache in caches"
                  ng-required="true"
            >
            <option selected="selected">-- Select cache --</option>
          </select>
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="Cache name"></i>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">* <span translate>ORIGINATOR_NODE</span>:</label>
        <div class="col-md-6" >

          <select class="form-control"
                  name="selectedNode"
                  ng-model="selectedNode"
                  ng-options="node for node in availableNodes"
                  ng-required="true"
            >
          </select>
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="Where to run the task"></i>
        </div>
      </div>

      <!-------------------------------------->
      <div class="form-group" ng-repeat="param in params">
        <label class="col-md-4 control-label">Parameter {{$index + 1}}:</label>
        <div class="col-md-3">
          <input ng-model="param.name"  class="form-control" type="text" placeholder="Name for parameter {{$index + 1}}">
        </div>
        <div class="col-md-3">
          <input ng-model="param.value" class="form-control" type="text" placeholder="Value for parameter {{$index + 1}}">
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="Parameter {{$index + 1}}"  tooltip-animation="true" tooltip-placement="top"></i>
        </div>
      </div>

      <br>
      <div class="form-group">
        <label class="col-md-2 control-label">&nbsp;</label>
        <div class="col-md-8">
          <input ng-model="asyncTask"  type="checkbox"> &nbsp;&nbsp;<span translate>ASYNCHRONOUS_TASK</span>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-disabled="!taskForm.$valid" class="btn btn-primary" ng-click="createTask()" translate>LAUNCH_TASK</button>
    <button type="button" class="btn btn-default" ng-click="cancel()" translate>CLOSE</button>
  </div>
</div>
