<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click='cancel()' aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Task output details</h4>
  </div>
  <div class="modal-body">

    <span ng-if="!successTaskLaunch && !errorLaunching">
    <h4>Task output:</h4>
    <br>
      <pre>{{event.detail}}</pre>
    </span>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</div>
