<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li class="active"><strong>{{currentCluster.name}}</strong></li>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refreshButton" ng-click="refresh()">
          <span class="pficon pficon-refresh"></span> Refresh
        </button>
        <button class="btn btn-default" type="button" id="viewEditConfigurationButton" ui-sref="editCacheContainerSchemas({groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name})">
          <span class="pficon pficon-settings"></span> Configuration
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                data-toggle="dropdown" uib-dropdown-toggle>
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'disabled' : 'enabled'">
            <a  id="dropdownMenuEnableRebalance"  role="menuitem" ng-click="confirmAndSetCacheContainerRebalance(true, 'ENABLE rebalancing for cache container?');">Enable rebalancing</a>
          </li>
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'enabled'  : 'disabled'">
            <a id="dropdownMenuDisableRebalance" role="menuitem" ng-click="confirmAndSetCacheContainerRebalance(false, 'DISABLE rebalancing for cache container?');">Disable rebalancing</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a id="dropdownManageSites" role="menuitem" ng-click="openSiteDialog()">Manage backup sites</a>
          </li>
        </ul>
      </div>
      <h1><span class="label"
                ng-class="currentClusterAvailability() ? 'label-success' : 'label-danger'">
        {{currentClusterAvailabilityAsString()}}
      </span>&nbsp;{{currentCluster.name}}
        <span ng-if="!currentCluster.rebalancingStatus" id="rebalancingIsDisabledLabel"> - <small class="text-danger"><span class="pficon pficon-warning-triangle-o"></span> <strong>Rebalancing is disabled</strong></small></span>
      </h1>
    </div>
  </div>

  <!-- User feedback reporting -->
  <div class="row" ng-if="errorExecuting || successExecuteOperation ">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-success alert-dismissable" ng-if="successExecuteOperation">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Success!</strong> The operation has been successfully executed.
      </div>

      <div class="alert alert-danger alert-dismissable" ng-if="errorExecuting">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon  pficon-error-circle-o"></span>
        <strong>Error</strong> There has been an error executing the operation: {{errorDescription}}
      </div>
    </div>
  </div>
  <!-- End of user feedback -->

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="#/cluster/{{currentCluster.getServerGroupName()}}/{{currentCluster.name}}">Caches</a></li>
        <li class="active"><a>Tasks execution</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12" style="padding-top: 15px;padding-bottom: 15px">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li ng-class="selectedView=='running' ? 'active' : ''"><a ng-click="selectedView='running';">Running
          tasks</a></li>
        <li ng-class="selectedView=='history' ? 'active' : ''"><a ng-click="selectedView='history';">Task
          history</a></li>
      </ul>
    </div>
  </div>

  <div ng-if="selectedView=='running'">
    <div class="row">
      <div class="col-sm-12 col-md-12" style="padding-top: 15px;padding-bottom: 15px">
        <div class="btn-group" role="group">
          <a role="button" class="btn btn-default" ng-click="openTaskDialog()"><span
            class="pficon pficon-add-circle-o"></span> Launch new task</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12">
        <table class="table ispn-table" ng-if="runningTasks.length > 0">
          <tbody>
          <tr>
            <th style="width: 50px">Status</th>
            <th>Task name</th>
            <th>Cache name</th>
            <th>Executing at</th>
            <th>Start time</th>
            <th>Who</th>
            <!--th style="width: 220px">Actions</th-->
          </tr>
          <tr ng-repeat="task in runningTasks">
            <td style="padding: 10px">
              <span class="label label-warning">RUNNING</span>
            </td>
            <td style="padding: 10px">{{task.name}}</td>
            <td style="padding: 10px">{{task.context}}</td>
            <td style="padding: 10px">{{task.where}}</td>
            <td style="padding: 10px">{{task.start | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td style="padding: 10px">{{task.who ? task.who : '-'}}</td>
          </tr>
          </tbody>
        </table>
        <!--------------------------------------------------------------------------------------------------------------->
        <div class="text-center" ng-if="runningTasks.length==0">
          <br>
          <br>
          <span class="pficon pficon-info"></span>
          <strong>No running tasks have been found.</strong>
          <br>
          <br>
        </div>
        <!--------------------------------------------------------------------------------------------------------------->
      </div>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------------------------------->
  <div ng-if="selectedView=='history'">
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <table class="table ispn-table" ng-if="taskHistory.length > 0">
          <tbody>
          <tr>
            <th style="width: 50px">Status</th>
            <th>Description</th>
            <th>End time</th>
            <th>Who</th>
            <th>Result</th>
          </tr>
          <tr ng-repeat="task in taskHistory">
            <td style="padding: 10px">
              <span class="label label-danger" ng-if="task.level=='ERROR'">ERROR</span>
              <span class="label label-success" ng-if="task.level=='INFO'">SUCCESS</span>
            </td>
            <td style="padding: 10px">{{task.message}}</td>
            <td style="padding: 10px">{{task.when | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td style="padding: 10px">{{task.who ? task.who : '-'}}</td>
            <td style="padding: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
              <span ng-if="task.detail"><a ng-click="displayEventDetails(task)"><span class="pficon pficon-info"></span></a>
              {{task.detail}}
              </span>
              <span ng-if="!task.detail">-</span>
            </td>
          </tr>
          </tbody>
        </table>
        <!--------------------------------------------------------------------------------------------------------------->
        <div class="text-center" ng-if="taskHistory.length==0">
          <br>
          <br>
          <span class="pficon pficon-info"></span>
          <strong>No failed or completed tasks have been found.</strong>
          <br>
          <br>
        </div>
        <!--------------------------------------------------------------------------------------------------------------->
      </div>
    </div>
  </div>
</div>
