<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>PERMISSIONS</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-4 control-label" >* <span translate>ROLE_NAME</span></label>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="ctrl.role.name" ng-readonly="!ctrl.isNewRole">
        </div>
        <div class="col-md-2 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" tooltip="The security role name" tooltip-trigger="" tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.READ"> READ
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.WRITE"> WRITE
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.BULK_READ"> BULK_READ
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.BULK_WRITE"> BULK_WRITE
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.EXEC"> EXEC
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.LISTEN"> LISTEN
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="ctrl.permissions.ADMIN"> ADMIN
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CLOSE</button>
    <button ng-if="ctrl.isNewRole" type="button" class="btn btn-primary" ng-click="ctrl.createNewRole();$dismiss()" translate>SAVE</button>
    <button ng-if="!ctrl.isNewRole" type="button" class="btn btn-primary" ng-click="ctrl.editExistingRole();$dismiss()" translate>SAVE</button>
  </div>
</div>

