<div class="row">
  <div class="col-sm-12 col-md-12">
    <br/>
    <form class="form-horizontal" ng-if="securityCtrl.securityAuthorizationDefined">
      <div class="form-group">
        <label class="col-md-2 control-label" for="roleMapper">Role Mapper</label>
        <div class="col-md-10">
          <select id="roleMapper" ng-model="mapper" ng-options="mapper as item for item in securityCtrl.mappers"/>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Roles</label>
        <div class="col-md-6">
          <table class="datatable table table-striped table-bordered">
            <thead>
            <tr>
              <th colspan="2" class="text-right">
                <div class="btn-group" role="group">
                  <a role="button" class="btn btn-default" ng-click="securityCtrl.openAddRoleModal()">Add</a>
                </div>
              </th>
            </tr>
            <tr>
              <th>Role</th>
              <th width="170" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in securityCtrl.roles">
              <td>{{role.name}}</td>
              <td class="text-center">
                <div class="btn-group" role="group">
                  <a role="button" class="btn btn-default" ng-click="securityCtrl.openEditRoleModal(role);"><i
                    class="pficon pficon-edit"></i> Edit</a>
                </div>
                <div class="btn-group" role="group">
                  <a role="button" class="btn btn-default" ng-click="securityCtrl.openRemoveRoleModal(role)"><i
                    class="pficon pficon-delete"></i> Remove</a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div ng-if="!securityCtrl.securityAuthorizationDefined">
      <div class="form-group">
        <label class="col-md-12 control-label" for="roleMapper" translate>DEFINE_AUTHORIZATION</label>
      </div>
      <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
          <button type="button" class="btn btn-primary" ng-click="securityCtrl.defineAuthorization()" translate>YES</button>
        </div>
      </div>
    </div>
  </div>
</div>

