<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelModal()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
  </div>
  <div class="modal-body">

    <h3 ng-if="mode === 'dirty'">Configuration template {{configurationModel.template}} has been modified. The modified configuration template
      has to be saved under a new name prior to creation of {{configurationModel.name}} cache. Please change configuration template name on the 'General'
      tab in order to proceed with {{configurationModel.name}} creation.</h3>
    <h3 ng-if="mode === 'cache'">Create {{configurationModel.name}} cache using {{configurationModel.template}} configuration template?</h3>
    <h3 ng-if="mode === 'template'">Update configuration template {{configurationModel.template}}?</h3>
  </div>
  <div class="modal-footer">

    <button ng-if="mode !== 'dirty'" type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
    <button ng-if="mode === 'dirty'" type="button" class="btn btn-primary" ng-click="cancelModal()">Ok</button>
    <button ng-if="mode === 'cache'" type="button" class="btn btn-primary" ng-click="createCacheWithTemplate()">Create</button>
    <button ng-if="mode === 'template'" type="button" class="btn btn-primary" ng-click="createCacheWithTemplate()">Update</button>

  </div>
</div>
