<!-- MAIN START -->

<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb" ng-if="isEditMode()">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li>
          <a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a>
        </li>
        <li>{{currentCacheName}}<small>({{currentCacheType()}}, {{currentCacheMode}}, {{currentCacheNumOwners()}} )</small></li>
        <li class="active"><strong>Configuration</strong></li>
      </ol>
      <ol class="breadcrumb" ng-if="isCreateMode()">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li>
          <a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a>
        </li>
        <li>{{currentCacheName}}</li>
        <li class="active"><strong>Configuration</strong></li>
      </ol>

      <h1>
        <!-- <span class="label" ng-class="currentCacheAvailability() ? 'label-success' : 'label-danger'">
          {{currentCluster.isAvailable() ? 'Available' : 'Unavailable'}}
        </span> --> {{currentCache.name}}</h1>
    </div>
  </div>

  <h2>View / Edit cache configuration:</h2>

        <div id="distributedCacheConfiguration" ng-if="cacheConfigurationType == 'distributed-cache'">
          <cache-configuration cache-type="distributed-cache" data="configurationModel" metadata="currentCluster.getMetadata()"
                               init-defaults="isCreateModeWithBareTemplate()" read-only="false" outside-controller="configurationSectionHandles"/>
        </div>
        <div id="replicatedCacheConfiguration" ng-if="cacheConfigurationType == 'replicated-cache'">
          <cache-configuration cache-type="replicated-cache" data="configurationModel" metadata="currentCluster.getMetadata()"
                               init-defaults="isCreateModeWithBareTemplate()" read-only="false" outside-controller="configurationSectionHandles"/>
        </div>
        <div id="invalidationCacheConfiguration" ng-if="cacheConfigurationType == 'invalidation-cache'">
          <cache-configuration cache-type="invalidation-cache" data="configurationModel" metadata="currentCluster.getMetadata()"
                               init-defaults="isCreateModeWithBareTemplate()" read-only="false" outside-controller="configurationSectionHandles"/>
        </div>
        <div id="localCacheConfiguration" ng-if="cacheConfigurationType == 'local-cache'">
          <cache-configuration cache-type="local-cache" data="configurationModel" metadata="currentCluster.getMetadata()"
                               init-defaults="isCreateModeWithBareTemplate()" read-only="false" outside-controller="configurationSectionHandles"/>
        </div>

        <br>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-6">
            <button id="createCacheButton" type="button" class="btn btn-primary" ng-if="isCreateMode()" ng-click="onCacheCreateClick()">Create</button>
            <button id="updateCacheButton" type="button" class="btn btn-primary" ng-if="isEditMode()" ng-click="onCacheCreateClick()">Apply changes</button>
            <button id="cancelCreateCacheButton" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          </div>
        </div>

</div>

