<!-- MAIN START -->
<div class="container-fluid" style="margin:20px">

  <!-- TOP ROW #1 START -->
  <div class="row">
    <div class="cache-name">Edit cache</div>
    <div>
      <div ng-if="currentCache.isDistributed()">
        <cache-configuration cache-type="distributed-cache" metadata="currentCluster.cachesMetadata"
                             current-cache="currentCache" init-defaults="false" read-only="false"/>
      </div>
      <div ng-if="currentCache.isReplicated()">
        <cache-configuration cache-type="replicated-cache" metadata="currentCluster.cachesMetadata"
                             current-cache="currentCache" init-defaults="false" read-only="false"/>
      </div>
      <div ng-if="currentCache.isInvalidation()">
        <cache-configuration cache-type="invalidation-cache" metadata="currentCluster.cachesMetadata"
                             current-cache="currentCache" init-defaults="false" read-only="false"/>
      </div>
      <div ng-if="currentCache.isLocal()">
        <cache-configuration cache-type="local-cache" metadata="currentCluster.cachesMetadata"
                             current-cache="currentCache" init-defaults="false" read-only="false"/>
      </div>
    </div>
  </div>
  <!-- TOP ROW #1 END -->
  <div class="row">
    <button type="button" class="btn btn-primary" ng-click="saveCache()" ng-disabled="false">Save</button>
    <button type="button" tooltip="cancel" class="btn btn-default" ui-sref="clusterView({clusterName: currentCluster.name})">Cancel</button>
  </div>
</div>
<!-- MAIN END -->
