<!-- MAIN START -->

<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a href="cache-containers.html">Cache containers</a>
        </li>
        <li>
          <a ui-sref="clusterView({clusterName: currentCluster.name})">{{currentCluster.name}}</a>
        </li>
        <li>{{currentCache.name}}<small>({{currentCacheType()}}, {{currentCacheMode}}, {{currentCacheNumOwners()}} )</small></li>
        <li class="active"><strong>Configuration</strong></li>
      </ol>

      <h1><span class="label"
                ng-class="currentCacheAvailability() ? 'label-success' : 'label-danger'">
        {{currentCluster.isAvailable() ? 'Available' : 'Unavailable'}}
      </span> {{currentCache.name}}</h1>
    </div>
  </div>

  <h2>View / Edit cache configuration:</h2>

        <div ng-if="currentCache.isDistributed()">
          <cache-configuration cache-type="distributed-cache" data="currentCache" metadata="currentCluster.cachesMetadata"
                               init-defaults="false" read-only="false"/>
        </div>
        <div ng-if="currentCache.isReplicated()">
          <cache-configuration cache-type="replicated-cache" data="currentCache" metadata="currentCluster.cachesMetadata"
                               init-defaults="false" read-only="false"/>
        </div>
        <div ng-if="currentCache.isInvalidation()">
          <cache-configuration cache-type="invalidation-cache" data="currentCache" metadata="currentCluster.cachesMetadata"
                               init-defaults="false" read-only="false"/>
        </div>
        <div ng-if="currentCache.isLocal()">
          <cache-configuration cache-type="local-cache" data="currentCache" metadata="currentCluster.cachesMetadata"
                               init-defaults="false" read-only="false"/>
        </div>

        <br>
        <div class="form-group">
          <div class="col-md-6 col-md-offset-2">
            <button type="button" class="btn btn-primary" ng-click="saveCacheConfigurationTemplate()">Apply changes</button>
            <button type="button" class="btn btn-default">Cancel</button>
          </div>
        </div>

</div>

