<div class="row" vertilize-container>
  <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" id="cache-cards">
    <br/>

    <div class="alert alert-info" ng-show="filtered.length < cachesCtrl.caches.length">
      <span class="fa fa-filter"></span> Showing {{filtered.length}} caches out of {{cachesCtrl.caches.length}} total.
    </div>

    <div class="col-xs-6 col-sm-4 col-md-2">
      <a data-original-title="Add Cache" data-toggle="modal" ng-click="cachesCtrl.createCache()"
         class="add" data-toggle="tooltip" data-placement="top" title="Add Cache">
        <div class="card-pf card-pf-accented card-pf-aggregate-status" vertilize>
          <h2 class="card-pf-title">Add Cache
          </h2>
          <div style="height: 50px;" class="card-pf-body">
            <p class="card-pf-aggregate-status-notifications">
                      <span class="card-pf-aggregate-status-notification">
                          <span class="pficon pficon-add-circle-o"></span>
                      </span>
            </p>
          </div>
        </div>
      </a>
    </div>
    <div ng-show="cachesCtrl.caches.length === 0" translate>THERE_ARE_NO_CACHES_TO_SHOW</div>
    <div class="col-xs-6 col-sm-4 col-md-2"
         ng-repeat="cache in filtered = (cachesCtrl.caches | filter: {name: searchNameQuery} |
           cacheTraitFilter: cachesCtrl.traitCheckboxes | cacheTypeFilter: cachesCtrl.typeCheckboxes | cacheStatusFilter: cachesCtrl.statusCheckboxes)">
      <a
        ui-sref="cache({profileName: ctrl.container.profile, containerName: ctrl.container.name, cacheName: cache.name, cacheType:cache.type})"
        title="View Cache Details">
        <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-with-action" vertilize>
          <h2 class="card-pf-title">
            <span class="pficon pficon-ok"></span>{{cache.name}}
          </h2>

          <div class="card-pf-body">
            <p ng-if="cache.isReplicated()" translate>REPLICATED</p>
            <p ng-if="cache.isDistributed()" translate>DISTRIBUTED</p>
            <p ng-if="cache.isLocal()" translate>LOCAL</p>
            <p ng-if="cache.isInvalidation()" translate>INVALIDATION</p>
            <p class="card-pf-aggregate-status-notifications cache-traits">
                  <span class="card-pf-aggregate-status-notification">
                      <span class="fa fa-database" title="Persistent" ng-if="cache.isPersistent()"></span>
                      <span class="fa fa-stack-overflow" title="Bounded" ng-if="cache.isBounded()"></span>
                      <span class="fa fa-arrow-circle-o-down" title="Transactional"
                            ng-if="cache.isTransactional()"></span>
                      <span class="fa fa-lock" title="Secured" ng-if="cache.isSecured()"></span>
                      <span class="fa fa-list-ol" title="Indexed" ng-if="cache.isIndexed()"></span>
                      <span class="fa fa-puzzle-piece" title="Compatible" ng-if="cache.hasCompatibility()"></span>
                      <span class="pficon pficon-history" title="Remotely backed up"
                            ng-if="cache.hasRemoteBackup()"></span>
                  </span>
            </p>
            <p ng-if="cache.hasRemoteBackup()" style="height:20px" ng-init="container = ctrl.container">
                <span ng-repeat="site in container['sites-offline'][cache.name]"><span
                  class="pficon pficon-error-circle-o"></span> {{site}} &nbsp;</span>
              <span ng-repeat="site in container['sites-mixed'][cache.name]"><span
                class="pficon pficon-warning-triangle-o"></span> {{site}} &nbsp;</span>
              <span ng-repeat="site in container['sites-online'][cache.name]"><span class="pficon pficon-ok"></span> {{site}} &nbsp;</span>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
    <br>
    <small>Quick search:</small>
    <form role="form" class="search-pf has-button">
      <div class="form-group has-clear">
        <div class="search-pf-input-group">
          <label for="searchTextField" class="sr-only">Name</label>
          <input class="form-control" id="searchTextField" ng-model="searchNameQuery"
                 placeholder="Type name, data center, ..."
                 type="search">
          <button style="display: none;" type="button" class="clear" aria-hidden="true"><span
            class="pficon pficon-close"></span></button>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-default" id="searchCacheButton" type="submit"><span class="fa fa-search"></span>
        </button>
      </div>
    </form>
    <hr>
    <div class="panel-group" id="filter-accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#filter-type-accordion"
               ng-click="cachesCtrl.isCollapsedType = !cachesCtrl.isCollapsedType" class="collapsed">
              Type
            </a>
          </h4>
        </div>
        <div id="filter-type-accordion" class="panel-collapse" ng-class="cachesCtrl.isCollapsedType? 'collapse' : ''">
          <div class="panel-body">
            <fieldset>
              <label><input type="checkbox" id="typeCheckboxLocal" value="local"
                            ng-model="cachesCtrl.typeCheckboxes.local"/> <span translate> LOCAL</span></label>
              <label><input type="checkbox" id="typeCheckboxReplicated" value="replicated"
                            ng-model="cachesCtrl.typeCheckboxes.replicated"/> <span translate> REPLICATED</span></label>
              <label><input type="checkbox" id="typeCheckboxDistributed" value="distributed"
                            ng-model="cachesCtrl.typeCheckboxes.distributed"/> <span translate> DISTRIBUTED</span></label>
              <label><input type="checkbox" id="typeCheckboxInvalidation" value="invalidation"
                            ng-model="cachesCtrl.typeCheckboxes.invalidation"/> <span translate> INVALIDATION</span></label>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#filter-trait-accordion"
               ng-click="cachesCtrl.isCollapsedTrait = !cachesCtrl.isCollapsedTrait"
               class="collapsed">
              Trait
            </a>
          </h4>
        </div>
        <div id="filter-trait-accordion" class="panel-collapse" ng-class="cachesCtrl.isCollapsedTrait?'collapse':''">
          <div class="panel-body">
            <fieldset>
              <label><input type="checkbox" id="traitCheckboxBounded" value="bounded"
                            ng-model="cachesCtrl.traitCheckboxes.bounded"/> <span class="fa fa-stack-overflow"
                                                                            title="Bounded"></span> <span translate>BOUNDED</span></label>
              <label><input type="checkbox" id="traitCheckboxCompatible" value="compatible"
                            ng-model="cachesCtrl.traitCheckboxes.compatible"/> <span class="fa fa-puzzle-piece"
                                                                               title="Compatible"></span> <span
                translate>COMPATIBLE</span></label>
              <label><input type="checkbox" id="traitCheckboxIndexed" value="indexed"
                            ng-model="cachesCtrl.traitCheckboxes.indexed"/> <span class="fa fa-list-ol"
                                                                            title="Indexed"></span> <span translate>INDEXED</span></label>
              <label><input type="checkbox" id="traitCheckboxPersistent" value="persistent"
                            ng-model="cachesCtrl.traitCheckboxes.persistent"/> <span class="fa fa-database"
                                                                               title="Persistent"></span> <span
                translate>PERSISTENT</span></label>
              <label><input type="checkbox" id="traitCheckboxRemotebackup" value="remotebackup"
                            ng-model="cachesCtrl.traitCheckboxes.remotebackup"/> <span class="pficon pficon-history"
                                                                                 title="Remote backup"></span> <span
                translate>REMOTE_BACKUP</span></label>
              <label><input type="checkbox" id="traitCheckboxSecure" value="secure"
                            ng-model="cachesCtrl.traitCheckboxes.secure"/> <span class="fa fa-lock" title="Indexed"></span>
                <span translate>SECURE</span></label>
              <label><input type="checkbox" id="traitCheckboxTransactional" value="transactional"
                            ng-model="cachesCtrl.traitCheckboxes.transactional"/> <span class="fa fa-arrow-circle-o-down"
                                                                                  title="Transactional"></span> <span
                translate>TRANSACTIONAL</span></label>
            </fieldset>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#filter-status-accordion"
               ng-click="cachesCtrl.isCollapsedStatus = !cachesCtrl.isCollapsedStatus"
               class="collapsed">
              Status
            </a>
          </h4>
        </div>
        <div id="filter-status-accordion" class="panel-collapse" ng-class="cachesCtrl.isCollapsedStatus?'collapse':''">
          <div class="panel-body">
            <fieldset>
              <label><input type="checkbox" id="statusCheckboxIndexing" value="indexing"
                            ng-model="cachesCtrl.statusCheckboxes.indexing"/> Indexing</label>
              <label><input type="checkbox" id="statusCheckboxMaintenance" value="maintenance"
                            ng-model="cachesCtrl.statusCheckboxes.offline"/> Offline</label>
              <label><input type="checkbox" id="statusCheckboxRebalancing" value="rebalancing"
                            ng-model="cachesCtrl.statusCheckboxes.rebalancing"/> Rebalancing</label>
              <label><input type="checkbox" id="statusCheckboxSplitbrain" value="splitbrain"
                            ng-model="cachesCtrl.statusCheckboxes.splitbrain"/> Split</label>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
