<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView">CACHE_CONTAINERS</a>
        </li>
        <li>
          <a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a>
        </li>
        <li class="active"><strong>{{currentCache.name}}</strong>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refreshButton" ng-click="refresh()">
          <span class="pficon pficon-refresh"></span> <span translate>REFRESH</span>
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu"
                data-toggle="dropdown" uib-dropdown-toggle>
          <span translate>ACTIONS</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" class="enabled">
            <a id="dropdownMenuResetStatistics" role="menuitem" ng-click="resetStats()" translate>RESET_STATISTICS</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ui-sref="editCache({clusterName: currentCluster.name, cacheName: currentCache.name})" translate>VIEW_CONFIGURATION</a>
          </li>
        </ul>
      </div>
      <h1><span id="currentCacheAvailability" class="label"
                ng-class="currentCacheAvailability() ? 'label-success' : 'label-danger'">
        {{currentClusterAvailabilityAsString()}}
      </span>&nbsp;{{currentCache.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!--ul class="nav nav-tabs nav-tabs-pf"-->
      <ul class="nav nav-tabs nav-tabs">
        <li ><a ui-sref="cacheStatus({groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name, cacheName: currentCache.name})">General status</a></li>
        <li class="active"><a>Nodes</a></li>
      </ul>
    </div>
  </div>


  <div class="col-md-12">

    <br>
    <table class="datatable table table-striped table-bordered display" id="cachesTable">
      <thead>
      <tr><th translate>NAME</th>
        <th translate>AVERAGE_READS</th>
        <th translate>AVERAGE_WRITES</th>
        <th translate>TOTAL_ENTRIES</th>
        <th translate>TOTAL_READS</th>
        <th translate>TOTAL_FAILED_READS</th>
        <th translate>TOTAL_WRITES</th>
        <th translate>TOTAL_FAILED_WRITES</th>
      </tr></thead>
      <tbody>
        <tr ng-repeat="stats in currentCacheStats.nodeStats">
          <td class="NodeName">{{stats['node-name']}}</td>
          <td class="AverageReadTime">{{stats['average-read-time'] | number}}</td>
          <td class="AverageWriteTime">{{stats['average-write-time'] | number}}</td>
          <td class="TotalEntries">{{stats['number-of-entries'] | number}}</td>
          <td class="TotalReads">{{stats['average-read-time'] | number}}</td>
          <td class="TotalFailedReads">{{stats['average-read-time'] | number}}</td>
          <td class="TotalWrites">{{stats['average-read-time'] | number}}</td>
          <td class="TotalFailedWrites">{{stats['average-read-time'] | number}}</td>
        </tr>
      </tbody></table>
  </div>
</div>
