<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="add_node_modal.title">Add new server node</h4>
  </div>
  <div class="modal-body">

    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-md-3 control-label">* Name:</label>

        <div class="col-md-6">
          <input id-generator="add.name" type="text" class="form-control" name="serverName" ng-model="ctrl.serverName" required="">
        </div>
        <div class="col-md-3 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" uib-tooltip="The server node name" tooltip-trigger=""
             tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
        <!-- ngIf: form.cacheName.$invalid && !form.cacheName.$pristine -->
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">* Host:</label>

        <div class="col-md-6">
          <select id-generator="add.name" class="form-control" ng-options="host for host in ctrl.hosts track by host"
                  ng-model="ctrl.host"></select>
        </div>
        <div class="col-md-3 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" uib-tooltip="Host for the new node" tooltip-trigger=""
             tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">Port offset:</label>

        <div class="col-md-6">
          <input id-generator="add.offset" type="text" class="form-control" ng-model="ctrl.portOffset" placeholder="0">
        </div>
        <div class="col-md-3 pull-left" style="padding-left: 0">
          <i class="fa fa-info-circle ng-scope" uib-tooltip="Port offset" tooltip-trigger="" tooltip-animation="true"
             tooltip-placement="top"></i>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label">JVM options:</label>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="row">
            <div class="col-sm-3 text-right">Stack:</div>
            <div class="col-sm-9"><input id-generator="add.stack" type="text" class="form-control" placeholder="Stack"></div>
          </div>
          <div class="row" style="padding-top:4px">
            <div class="col-sm-3 text-right">Heap:</div>
            <div class="col-sm-9"><input id-generator="add.heap" type="text" class="form-control" placeholder="Heap"></div>
          </div>
          <div class="row" style="padding-top:4px">
            <div class="col-sm-3 text-right">Agent
              lib:
            </div>
            <div class="col-sm-9"><input id-generator="add.agent_lib" type="text" class="form-control" placeholder="Agent lib"></div>
          </div>
          <div class="row" style="padding-top:4px">
            <div class="col-sm-3 text-right">Agent
              path:
            </div>
            <div class="col-sm-9"><input id-generator="add.agent_path" type="text" class="form-control" placeholder="Agent path"></div>
          </div>
          <div class="row" style="padding-top:4px">
            <div class="col-sm-3 text-right">JVM
              options:
            </div>
            <div class="col-sm-9"><input id-generator="add.jvm_opts" type="text" class="form-control" placeholder="JVM options"></div>
          </div>
          <div class="row" style="padding-top:4px">
            <div class="col-sm-3 text-right">System
              properties:
            </div>
            <div class="col-sm-9"><input id-generator="add.sys_props" type="text" class="form-control" placeholder="System properties"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button id="cancel.button" type="button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
    <button id="create.button" type="button" class="btn btn-primary" ng-click="ctrl.close()" translate>CREATE</button>
  </div>
</div>

