<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
  </div>
  <div class="modal-body">

    <h3 ng-if="ctrl.operation === 'start'" translate translate-values='{clusterName:clusterName}'>
      STARTING_CLUSTER</h3>
    <h3 ng-if="ctrl.operation === 'stop'" translate translate-values='{clusterName:clusterName}'>
      STOPPING_CLUSTER</h3>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    <button ng-if="ctrl.operation === 'start'" type="button" class="btn btn-default"
            ng-click="$close()">Start
    </button>
    <button ng-if="ctrl.operation === 'stop'" type="button" class="btn btn-default"
            ng-click="$close()">Stop
    </button>
  </div>
</div>
