<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="server-groups" translate>CLUSTERS</a>
        </li>
        <li class="active"><strong>{{ctrl.serverGroup.name}}</strong></li>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="refresh.button" ng-click="ctrl.refresh()">
          <span class="pficon pficon-refresh"></span> <span translate>REFRESH</span>
        </button>
        <button ng-if="ctrl.isDomainMode()" class="btn btn-default dropdown-toggle" type="button"
                id="dropdown_menu.button" uib-dropdown-toggle><span translate>ACTIONS</span><span
          class="caret"></span>
        </button>
        <ul ng-if="ctrl.isDomainMode()" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" ng-class="ctrl.areAllServersInStoppedState() ? 'enabled' : 'disabled'">
            <a id="start.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('start')" translate>START</a>
          </li>

          <li role="presentation" ng-class="ctrl.isAtLeastOneServerInReloadRequiredState() ? 'enabled' : 'disabled'">
            <a id="reload.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('reload')" translate>RELOAD</a>
          </li>
          <li role="presentation" ng-class="ctrl.isAtLeastOneServerInRestartRequiredState() ? 'enabled' : 'disabled'">
            <a id="restart.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('restart')" translate>RESTART</a>
          </li>

          <li role="presentation" ng-class="ctrl.isAtLeastOneServerInRunningState() ? 'enabled' : 'disabled'">
            <a id="stop.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('stop')" translate>STOP</a>
          </li>
        </ul>
      </div>

      <h1><span class="label cluster-status"
              ng-class="{'label-success':ctrl.isAtLeastOneServerInRunningState(),
                        'label-warning':ctrl.isAtLeastOneServerInRestartRequiredState() || ctrl.isAtLeastOneServerInReloadRequiredState(),
                        'label-danger':ctrl.areAllServersInStoppedState()}">
            <span ng-if="ctrl.isAtLeastOneServerInRunningState(serverGroup)" class="pficon-ok"></span>
            <span ng-if="ctrl.isAtLeastOneServerInRestartRequiredState() || ctrl.isAtLeastOneServerInReloadRequiredState()" class="pficon-warning-triangle-o"></span>
            <span ng-if="ctrl.ctrl.areAllServersInStoppedState()" class="pficon-error-circle-o"></span>
              {{ctrl.status}}
          </span>&nbsp;Cluster:
        {{ctrl.serverGroup.name}}
      </h1>
    </div>
  </div>
  <!-- User feedback reporting -->
  <div class="row" ng-if="ctrl.errorExecuting || ctrl.successfulOperation">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-success alert-dismissable" ng-if="ctrl.successfulOperation">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong>Success!</strong> The operation has been successfully executed.
      </div>

      <div class="alert alert-danger alert-dismissable" ng-if="ctrl.errorExecuting">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon  pficon-error-circle-o"></span>
        <strong>Error</strong><span translate translate_values="{errorDescription:ctrl.errorDescription}">ERROR_OP</span>
      </div>
    </div>
  </div>
  <!-- End of user feedback -->


  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs">
        <li ui-sref-active="active" ui-sref=".nodes"><a translate>NODES</a></li>
        <li ui-sref-active="active" ui-sref=".endpoints"><a translate>ENDPOINTS</a></li>
      </ul>
    </div>
  </div>

  <!-- Sub views are inserted here -->
  <div ui-view="" />
</div>
