<div class="container-fluid">
  <form class="form-horizontal" name="form" novalidate>
    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>

      <div class="col-md-10" ng-class="{ 'has-error' : form.cacheName.$invalid && !form.cacheName.$pristine }">
        <input type="text" name="cacheName" ng-model="data.name" ng-disabled="readOnly" required/>
        <i class="fa fa-info-circle" tooltip="The cache name" tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
      <div class="help-block" ng-messages="form.cacheName.$error" ng-if="form.cacheName.$invalid && !form.cacheName.$pristine">
        <div ng-message="invalid">Cache name is required!</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Type</label>

      <div class="col-md-10">
        <select ng-model="data.type" ng-options="ct as ct for ct in cacheTypes" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle" tooltip="The type of cache" tooltip-trigger tooltip-animation="true"
           tooltip-placement="top"></i>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label">Mode</label>

      <div class="col-md-10">
        <select ng-model="data.data.mode" ng-options="item as item for item in metadata.mode.allowed" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="Sets the clustered cache mode, ASYNC for asynchronous operation, or SYNC for synchronous operation"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Auto config</label>

      <div class="col-md-10">
        <input type="checkbox" ng-model="data.data['auto-config']" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata['auto-config'].description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Batching</label>

      <div class="col-md-10">
        <input type="checkbox" ng-model="data.data.batching" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.batching.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Capacity factor</label>

      <div class="col-md-10">
        <input type="text" ng-model="data.data['capacity-factor']" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata['capacity-factor'].description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">JNDI name</label>

      <div class="col-md-10">
        <input type="text" ng-model="data.data['jndi-name']" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata['jndi-name'].description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !form.lifespan.$pristine && form.lifespan.$invalid }">
      <label class="col-md-2 control-label">L1 lifespan</label>
      <div class="col-md-10">
        <input type="text" name="lifespan" ng-model="data.data['l1-lifespan']" ng-disabled="readOnly" positive-integer/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata['l1-lifespan'].description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
      <div class="help-block" ng-messages="form.lifespan.$error" ng-if="!form.lifespan.$pristine && form.lifespan.$invalid">
        <div ng-message="positiveInteger">Only positive integers are allowed!</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Module</label>

      <div class="col-md-10">
        <input type="text" ng-model="data.data.module" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.module.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !form.owners.$pristine && form.owners.$invalid }">
      <label class="col-md-2 control-label">Owners</label>

      <div class="col-md-10">
        <input type="text" name="owners" ng-model="data.data.owners" ng-disabled="readOnly" positive-integer/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.owners.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
      <div class="help-block" ng-messages="form.owners.$error" ng-if="!form.owners.$pristine && form.owners.$invalid">
        <div ng-message="positiveInteger">Only positive integers are allowed!</div>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error': !form.segments.$pristine && form.segments.$invalid }">
      <label class="col-md-2 control-label">Segments</label>

      <div class="col-md-10">
        <input type="text" name="segments" ng-model="data.data.segments" ng-disabled="readOnly" positive-integer/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.segments.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
      <div class="help-block" ng-messages="form.segments.$error" ng-if="!form.segments.$pristine && form.segments.$invalid">
        <div ng-message="positiveInteger">Only positive integers are allowed!</div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Start</label>

      <div class="col-md-10">
        <select ng-model="data.data.start" ng-options="item as item for item in metadata.start.allowed" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.start.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Statistics</label>

      <div class="col-md-10">
        <input type="checkbox" ng-model="data.data.statistics" ng-disabled="readOnly"/>
        <i class="fa fa-info-circle"
           tooltip="{{metadata.statistics.description}}"
           tooltip-trigger tooltip-animation="true" tooltip-placement="top"></i>
      </div>
    </div>

  </form>
</div>

