<div class="container-fluid" style="margin:20px">
    <div class="row">
        <div class="col-md-9 breadcrumbs">
            <span> <a href="#/cluster/{{currentCluster.name}}"> {{currentCluster.name}} </a>  >>  {{currentCache.name}} </span>
        </div>

        <div class="col-md-3">
            <div class="dropdown dropdown-menu-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="cacheActionMenu" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="editCache({clusterName: currentCluster.name, cacheName: currentCache.name})">Edit cache</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Stop cache</a>
                    </li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Clear cache</a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete cache</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>

    <div class="cache-details">
        <div class="cache-name">{{currentCache.name}}</div>
        <div class="cache-status">
            <span class="cache-status-label">Status:</span>  <span class="available">{{currentCacheStats.firstServerStats['cache-status']}}</span>
        </div>
        <div class="cache-details row cache-information">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div>Average read time:</div>
                    <div>Average write time:</div>
                    <div>Average remove time:</div>
                    <div>Total number of entries:</div>
                </div>
                <div class="col-md-4">
                    <div>{{currentCacheStats.firstServerStats['clusterwide-average-read-time']}} ms</div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-average-write-time']}} ms</div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-average-remove-time']}} ms</div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-number-of-entries']}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-8">
                    <div>Total number of hits:</div>
                    <div>Total number of misses:</div>
                    <div>Total passivations:</div>
                    <div>Total invalidations:</div>
                </div>
                <div class="col-md-4">
                    <div>{{currentCacheStats.firstServerStats['clusterwide-hits']}}</div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-misses']}} </div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-passivations']}} </div>
                    <div>{{currentCacheStats.firstServerStats['clusterwide-invalidations']}} </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-9 text-left">
                <div class="cache-status">
                    <span class="cache-status-label">Nodes</span>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <span class="search-text"> Search: </span>
                <input type="search" class="search-field">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <th>Name</th>
                        <th>Average reads</th>
                        <th>Average writes</th>
                        <th>Average replication time</th>
                        <th>Total entries</th>
                        <th>Hits</th>
                        <th>Misses</th>
                    </thead>
                    <tr  ng-repeat="stats in currentCacheStats.nodeStats">
                        <td>{{stats['node-name']}}</td>
                        <td>{{stats['average-read-time']}} ms</td>
                        <td>{{stats['average-write-time']}} ms</td>
                        <td>{{stats['average-replication-time']}}</td>
                        <td>{{stats['number-of-entries']}}</td>
                        <td>{{stats['hits']}}</td>
                        <td>{{stats['misses']}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
      <div class="row">
            <div class="col-md-12">
                <div class="cache-status">
                    <span class="cache-status-label">Configuration</span>
                </div>
            </div>
      </div>
      <div class="cache-properties row">
        <div><p><p>
        </div>
        <div ng-if="currentCache.isDistributed()">
          <cache-configuration cache-type="distributed-cache" metadata="currentCluster.cachesMetadata"
                               current-cache="currentCache" init-defaults="false" read-only="true"/>
        </div>
        <div ng-if="currentCache.isReplicated()">
          <cache-configuration cache-type="replicated-cache" metadata="currentCluster.cachesMetadata"
                               current-cache="currentCache" init-defaults="false" read-only="true"/>
        </div>
        <div ng-if="currentCache.isInvalidation()">
          <cache-configuration cache-type="invalidation-cache" metadata="currentCluster.cachesMetadata"
                               current-cache="currentCache" init-defaults="false" read-only="true"/>
        </div>
        <div ng-if="currentCache.isLocal()">
          <cache-configuration cache-type="local-cache" metadata="currentCluster.cachesMetadata"
                               current-cache="currentCache" init-defaults="false" read-only="true"/>
        </div>
      </div>
    </div>
</div>
