<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="containers">Cache containers</a>
        </li>
        <li>{{ctrl.container.profile}}</li>
        <li><a ui-sref="container({profileName: ctrl.container.profile, containerName: ctrl.container.name})">{{ctrl.container.name}}</a>
        <li class="active"><strong>Query</strong>
      </ol>
      <div class="dropdown pull-right" uib-dropdown>
        <button class="btn btn-default" type="button" id="edit_config.button"
                ui-sref="edit-cache-config({profileName: ctrl.container.profile, containerName: ctrl.container.name, cacheType: ctrl.cache.type, cacheName: ctrl.cache.name})">
          <span class="pficon pficon-settings"></span> Configuration
        </button>
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_menu.button" uib-dropdown-toggle>
          Actions
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation" class="enabled">
            <a id="reset_stats.button" role="menuitem" ng-click="ctrl.resetStats()">Reset statistics</a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" id="config.button"
               ui-sref="edit-cache-config({profileName: ctrl.container.profile, containerName: ctrl.container.name, cacheType: ctrl.cache.type, cacheName: ctrl.cache.name})"
            >View configuration</a>
          </li>
        </ul>
      </div>
      <h1>
       <span id-generator="availability" class="label" ng-class="ctrl.currentCacheAvailability() ? 'label-success' : 'label-danger'">
         {{ctrl.currentClusterAvailabilityAsString()}}
       </span>&nbsp;{{ctrl.cache.name}}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!--ul class="nav nav-tabs nav-tabs-pf"-->
      <ul class="nav nav-tabs nav-tabs">
        <li><a
          ui-sref="cache({profileName: ctrl.container.profile, containerName: ctrl.container.name, cacheName: ctrl.cache.name, cacheType: ctrl.cache.type})">General
          status</a></li>
        <li ng-if="!ctrl.isLocalMode()"><a
          ui-sref="caches-node-stats({profileName: ctrl.container.profile, containerName: ctrl.container.name, cacheName:ctrl.cache.name, cacheType: ctrl.cache.type})">Nodes</a>
        </li>
        <li class="active"><a>Query</a></li>
      </ul>
    </div>
  </div>

  <div style="padding-top: 20px">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <query-panel cache-name="ctrl.cache.name" name="POST" description="" panel-type="post"></query-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <query-panel cache-name="ctrl.cache.name" name="PUT" description="" panel-type="put"></query-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <query-panel cache-name="ctrl.cache.name" name="GET" description="" panel-type="get"></query-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <query-panel cache-name="ctrl.cache.name" name="SEARCH" description="" panel-type="search"></query-panel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <query-panel cache-name="ctrl.cache.name" name="DELETE" description="" panel-type="delete"></query-panel>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
