<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li><a ui-sref="clusterView({clusterName: currentCluster.name})">{{currentCluster.name}}</a></li>
        <li class="active"><strong>Configuration</strong></li>
      </ol>
      <h1>Cache container configuration</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li class="active"><a href="#">Schemas</a></li>
        <li><a ui-sref="editCacheContainerTransport({clusterName: currentCluster.name})">Transport</a></li>
        <li><a ui-sref="editCacheContainerThreadpools({clusterName: currentCluster.name})">Thread pools</a></li>
        <li><a ui-sref="editCacheContainerSecurity({clusterName: currentCluster.name})">Security</a></li>
        <li><a ui-sref="editCacheContainerTemplates({clusterName: currentCluster.name})">Templates</a></li>
        <li><a ui-sref="editCacheContainerDeploy({clusterName: currentCluster.name})">Deployments</a></li>
      </ul>

      <br>

      <table class="datatable table table-striped table-bordered">
        <thead>
        <tr>
          <th colspan="3" class="text-right">
            <div class="btn-group" role="group">
              <a role="button" class="btn btn-default" ng-click="openCreateSchemaModal()"><span
                class="pficon pficon-add-circle-o"></span> Add</a>
            </div>
          </th>
        </tr>
        <tr ng-if="availableSchemas.length > 0">
          <th>Name</th>
          <th>Type</th>
          <th width="160" class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="schema in availableSchemas">
          <td>{{schema}}</td>
          <td>ProtoBuf</td>
          <td class="text-center">
            <div class="btn-group" role="group">
              <button class="btn btn-default" ng-click="openEditSchemaModal(schema)"><i class="pficon pficon-edit"></i> Edit</button>
              </div>
            <div class="btn-group" role="group">
              <button class="btn btn-default" ng-click="openConfirmationModal(schema, 'remove-schema')"><i class="pficon pficon-delete"></i> Remove</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center" ng-if="availableSchemas.length == 0">
          <br>
          <br>
          <i class="fa fa-ban"></i> No protobuf schemas defined yet.
      </div>

    </div>
  </div>
</div>
