<div class="modal-content ">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="edit_script.title"><span ng-if="!ctrl.editing" translate>CREATE_NEW_SCRIPT_TASK</span><span
      ng-if="ctrl.editing" translate>EDIT_SCRIPT_TASK</span></h4>
  </div>
  <div class="modal-body">

    <form class="form-horizontal" name="taskForm">

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group">
        <label class="col-md-3 control-label">* <span translate>TASK_NAME</span>:</label>

        <div class="col-md-8">
          <input type="text" class="form-control" name="taskName" ng-model="ctrl.task.name" ng-required="true"
                 id-generator="edit.name" ng-disabled="ctrl.editing">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" uib-tooltip="Name of the script task" tooltip-animation="true"
              tooltip-placement="left-bottom"></i>
          </i>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group" ng-show="!ctrl.editing">
        <label class="col-md-3 control-label">* <span translate>LANGUAGE</span>:</label>

        <div class="col-md-8">
          <select id-generator="edit.language" class="form-control" ng-model="ctrl.task.language" ng-required="true">
            <option>javascript</option>
            <!--option>Scala</option-->
          </select></div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope"
             uib-tooltip="Defines the script engine that will be used to execute the script, e.g. Javascript"
             tooltip-animation="true" tooltip-placement="left-bottom"></i>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group" ng-show="!ctrl.editing">
        <label class="col-md-3 control-label"><span translate>PARAMETERS</span>:</label>

        <div class="col-md-8">
        <input id-generator="edit.params" class="form-control" type="text" name="taskParameters" ng-model="ctrl.task.parameters" ng-required="false">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left-bottom"
             uib-tooltip="An array of valid parameter names for this script. Invocations which specify parameter names not included in this list will cause an exception"></i>
        </div>
      </div>

      <div class="form-group" ng-show="!ctrl.editing">
        <label class="col-md-3 control-label">* <span translate>EXECUTION_MODE</span>:</label>

        <div class="col-md-8">
          <select id-generator="edit.exec_mode" class="form-control" name="taskExecutionMode" ng-model="ctrl.task.mode" ng-required="true">
            <option value="local">Local</option>
            <option value="distributed">Distributed</option>
          </select>
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left-bottom"
             tooltip-animation="true" tooltip-placement="left-bottom" uib-tooltip="Script execution mode"></i>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group" ng-show="!ctrl.editing">
        <label class="col-md-3 control-label"><span translate>SECURITY_ROLE</span>:</label>

        <div class="col-md-8">
        <input id-generator="edit.roles" class="form-control" type="text" name="taskRole" ng-model="ctrl.task.role" ng-required="false">
        </div>
        <div class="col-md-1 pull-left">
          <i class="fa fa-info-circle ng-scope" tooltip-animation="true" tooltip-placement="left-bottom"
             uib-tooltip="A specific role which is required to execute the script"></i>
        </div>
      </div>

      <!-- ----------------------------------------------------------------------------------------------------------- -->

      <div class="form-group">
        <label class="col-md-3 control-label">* <span translate>SCRIPT_BODY</span>:</label>

        <div class="col-md-8">
          <textarea id-generator="edit.body.text" class="form-control" rows="15" ng-model="ctrl.task.body" name="taskBody" ng-required="true"></textarea>
        </div>
      </div>
      <!-- ----------------------------------------------------------------------------------------------------------- -->

    </form>
  </div>
  <div class="modal-footer">
    <button id="cancel.button" class="btn btn-default" ng-click="$dismiss()" translate>CANCEL</button>
    <button id="create.button" ng-show="!ctrl.editing" ng-disabled="!taskForm.$valid" class="btn btn-primary"
            ng-click="ctrl.createScript();$dismiss()"><span translate>CREATE_SCRIPT_TASK</span>
    </button>
    <button id="update.button" ng-show="ctrl.editing"
            ng-disabled="!taskForm.taskName.$valid || !taskForm.taskBody.$valid " class="btn btn-primary"
            ng-click="ctrl.createScript();$dismiss()"><span translate>UPDATE_SCRIPT_TASK</span>
    </button>
  </div>
</div>
