<div class="row">
  <div class="col-sm-12 col-md-12">
    <table class="datatable table table-striped table-bordered">
      <thead>
      <tr>
        <th colspan="3" class="text-right">
          <div class="btn-group" role="group">
            <a role="button" class="btn btn-default" ng-click="schemaCtrl.createSchemaModal(false)"><span
              class="pficon pficon-add-circle-o"></span> Add</a>
          </div>
        </th>
      </tr>
      <tr ng-if="schemaCtrl.availableSchemas.length > 0">
        <th>Name</th>
        <th>Type</th>
        <th width="160" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="schema in schemaCtrl.availableSchemas">
        <td>{{schema}}</td>
        <td>ProtoBuf</td>
        <td class="text-center">
          <div class="btn-group" role="group">
            <button class="btn btn-default" ng-click="schemaCtrl.createSchemaModal(true, schema)"><i class="pficon pficon-edit"></i>
              Edit
            </button>
          </div>
          <div class="btn-group" role="group">
            <button class="btn btn-default" ng-click="schemaCtrl.removeSchemaModal(schema, $index)"><i
              class="pficon pficon-delete"></i> Remove
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="text-center" ng-if="schemaCtrl.availableSchemas.length < 1">
      <br>
      <br>
      <i class="fa fa-ban"></i> No protobuf schemas defined yet.
    </div>
  </div>
</div>
