<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click='$dismiss()' aria-hidden="true">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel" translate>MANAGE_BACKUP_SITES</h4>
  </div>
  <div class="modal-body" style="min-height:300px">

    <div class="alert alert-success alert-dismissable" ng-if="ctrl.successfulOperation">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon pficon-ok"></span>
      <strong>Success!</strong> <span translate>SUCCESSFUL_OP</span>
    </div>

    <div class="alert alert-danger alert-dismissable" ng-if="ctrl.errorExecuting">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
      </button>
      <span class="pficon  pficon-error-circle-o"></span>
      <strong>Error</strong><span translate translate_values="{errorDescription:ctrl.errorDescription}">ERROR_OP</span>
    </div>

    <br>
    <p><span class="pficon pficon-info"></span> <span translate>CURRENT_STATUS_OF_BACKUP_SITES</span></p>
    <table class="table ispn-table">
      <tr>
        <th>Status</th>
        <th>Site name</th>
        <th>Available actions</th>
      </tr>
      <tr ng-repeat="site in ctrl.offlineSites">
        <td style="padding: 10px"><span class="pficon pficon-error-circle-o"></span> <span
          class="label label-danger">OFFLINE</span></td>
        <td style="padding: 10px">{{site}}</td>
        <td style="padding: 10px">
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'bring-site-online', 'By continuing you will bring the site online. Are you sure?')">
            <i
              class="pficon pficon-restart"></i> <span translate>BRING_ONLINE</span>
          </button>
        </td>
      </tr>
      <tr ng-repeat="site in ctrl.mixedSites">
        <td style="padding: 10px"><span class="pficon pficon-warning-triangle-o"></span> <span
          class="label label-warning">WARNING</span></td>
        <td style="padding: 10px">{{site}}</td>
        <td style="padding: 10px">
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'take-site-offline', 'By continuing, you will take the site offline. Are you sure?')">
            <i
              class="fa fa-power-off"></i> <span translate>TAKE_OFFLINE</span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'push-state', 'Are you sure you want to force state transfer to the site ?')">
            <i
              class="pficon pficon-export"></i> <span translate>PUSH_STATE</span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'cancel-push-state', 'Are you sure you want to cancel state transfer to the site ?')">
            <i
              class="fa fa-ban"></i> <span translate>CANCEL_STATE_TRANSFER</span>
          </button>
        </td>
      </tr>
      <tr ng-repeat="site in ctrl.onlineSites">
        <td style="padding: 10px"><span class="pficon pficon-ok"></span> <span class="label label-success">ONLINE</span>
        </td>
        <td style="padding: 10px">{{site}}</td>
        <td style="padding: 10px">
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'take-site-offline', 'By continuing, you will take the site offline. Are you sure?')">
            <i
              class="fa fa-power-off"></i> <span translate>TAKE_OFFLINE</span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'push-state', 'Are you sure you want to force state transfer to the site ?')">
            <i
              class="pficon pficon-export"></i> <span translate>PUSH_STATE</span>
          </button>
          <button class="btn btn-default btn-sm"
                  ng-click="ctrl.executeSiteOperation(site, 'cancel-push-state', 'Are you sure you want to cancel state transfer to the site ?')">
            <i
              class="fa fa-ban"></i> <span translate>CANCEL_STATE_TRANSFER</span>
          </button>
        </td>
      </tr>
    </table>
    <!--------------------------------------------------------------------------------------------------------------->
    <div class="text-center" ng-if="ctrl.isSitesEmpty()">
      <br>
      <br><span class="pficon pficon-info"></span>
      <strong translate>THERE_ARE_NO_BACKUP_SITES</strong>
      <br>
      <br>
    </div>
    <!--------------------------------------------------------------------------------------------------------------->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="ctrl.refresh()"><i class="fa fa-refresh"></i> Refresh status
    </button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>CLOSE</button>
  </div>
</div>
