<div class="row">
  <div class="col-sm-12 col-md-12">
    <form class="form-inline">
      <div class="form-group">
        <label class="control-label" for="taskCount">Retrieve &nbsp;</label>
        <select
          class="form-control"
          id="taskCount"
          name="taskCount"
          ng-model="tasksCtrl.taskCount"
          ng-options="option as option for option in tasksCtrl.taskCountOptions"
          ng-change="tasksCtrl.getTaskHistory()">
        </select>
        <label> &nbsp; tasks. Showing {{tasksCtrl.getShowingTasks()}} tasks.</label>
      </div>
    </form>
    <br>
    <table class="table ispn-table" ng-if="tasksCtrl.history.length > 0">
      <tbody>
      <tr>
        <th style="width: 50px">Status</th>
        <th>Description</th>
        <th>End time</th>
        <th>Who</th>
        <th>Result</th>
      </tr>
      <tr ng-repeat="task in tasksCtrl.history">
        <td style="padding: 10px">
          <span class="label label-danger" ng-if="task.level=='ERROR'">ERROR</span>
          <span class="label label-success" ng-if="task.level=='INFO'">SUCCESS</span>
        </td>
        <td style="padding: 10px">{{task.message}}</td>
        <td style="padding: 10px">{{task.when | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        <td style="padding: 10px">{{task.who ? task.who : '-'}}</td>
        <td style="padding: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
          <information-modal ng-if="task.detail" header="Task Details:" information="{{task.detail}}"/>
          <span ng-if="!task.detail">-</span>
        </td>
      </tr>
      </tbody>
    </table>
    <!--------------------------------------------------------------------------------------------------------------->
    <div class="text-center" ng-if="tasksCtrl.history.length < 1">
      <br>
      <br>
      <span class="pficon pficon-info"></span>
      <strong translate>NO_TASK_HISTORY</strong>
      <br>
      <br>
    </div>
    <!--------------------------------------------------------------------------------------------------------------->
  </div>
</div>
