<fieldset class="form-group" ng-disabled="$ctrl.readOnly">
  <label class="col-md-4 control-label">{{$ctrl.resolveFieldName()}}</label>

  <div class="col-md-4">
    <input class="form-control" type="text" ng-model="$ctrl.data[$ctrl.field]"
           ng-change="$ctrl.fieldValueModified()" ng-style="$ctrl.getStyle()"
           ng-if="!$ctrl.multiValue && $ctrl.type === 'text'"
           placeholder="{{$ctrl.placeholder}}"/>

    <div class="checkbox" ng-if="!$ctrl.multiValue && $ctrl.type === 'checkbox'">
      <label>
        <input type="checkbox" ng-style="$ctrl.getStyle()" ng-model="$ctrl.data[$ctrl.field]"
               ng-change="$ctrl.fieldValueModified()"/>
      </label>
    </div>

    <select class="form-control" ng-style="$ctrl.getStyle()" ng-model="$ctrl.data[$ctrl.field]"
            ng-options="{{$ctrl.option}}"
            ng-if="$ctrl.multiValue" ng-change="$ctrl.fieldValueModified()"/>

    <!-- TODO Make a property table directive-->
    <div ng-if="$ctrl.type === 'table'">
      <form name="propertyForm" ng-class="$ctrl.field" ng-style="$ctrl.getStyle()">
        <table class="table">
          <thead>
          <tr>
            <td>Property</td>
            <td>Value</td>
            <td></td>
          </tr>
          </thead>
          <tr ng-repeat="(key, value) in $ctrl.data[$ctrl.field] track by key">
            <td>
              <input class="form-control" type="text" ng-model="key" ng-disabled="true"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     ng-change="$ctrl.createOrUpdateProperty(key, value)"/>
            </td>
            <td>
              <input class="form-control" type="text" ng-model="value"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     ng-change="$ctrl.createOrUpdateProperty(key, value)"/>
            </td>
            <td>
              <button type="button" class="btn btn-link" ng-click="$ctrl.removeProperty(key)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" ng-model="newKey"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     required/>
            </td>
            <td>
              <input class="form-control" type="text" ng-model="newValue"
                     ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0} }"
                     required/>
            </td>
            <td>
              <button type="button" class="btn btn-link"
                      ng-click="$ctrl.createOrUpdateProperty(newKey, newValue);newKey=null;newValue=null"
                      ng-disabled="propertyForm.$invalid">
                <span class="glyphicon glyphicon-plus-sign"></span>
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <field-info data="$ctrl.data" meta="$ctrl.meta" field="{{$ctrl.field}}" previous-value="$ctrl.previousValue" read-only="$ctrl.readOnly"
              undo-callback="$ctrl.undoCallback"/>
</fieldset>
