<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelModal()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-horizontal" ng-repeat="field in fields">

      <!--Currently we have code repeated as ng-model can't be dynamically assigned.-->
      <!--There must be a less repetitive way to achieve the same thing-->

      <div>
        <form-group data="data[field.parent]" field="{{field.name}}" meta="getMetadataObject(field.name, field.parent)"
                    previous-value="prevData[field.parent][field.name]" read-only="readOnly"
                    label="{{resolveFieldName(field.name, field.parent)}}" ng-if="isParentDefined(field)"/>
      </div>

      <div>
        <form-group data="data" field="{{field.name}}" meta="getMetadataObject(field.name)"
                    previous-value="prevData[field.name]" read-only="readOnly" ng-if="!isParentDefined(field)"/>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button id="cancelButton" type="button" class="btn btn-default" ng-click="cancelModal()">Cancel</button>
    <button id="okButton" type="button" class="btn btn-primary" ng-click="submitModal()">Ok</button>
  </div>
</div>
