<nav class="navbar navbar-default navbar-pf" role="navigation" ng-if="isVisible()">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="assets/images/brand.svg" alt="Infinispan Server Management Console"/>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-utility">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle" type="button" id="logoutDropdown"
                data-toggle="dropdown" uib-dropdown-toggle>
          <span class="pficon pficon-user"></span>
          {{modelController.credentials.username}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="logoutDropdown">
          <li role="presentation" ng-class="currentCluster.rebalancingStatus ? 'disabled' : 'enabled'">
            <a id="logout" role="menuitem" ng-click="logout()">Log out</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>


  <ul class="nav navbar-nav navbar-primary">
    <li>
      <a href="#/clusters">Caches</a>
    </li>
    <li>
      <a href="#/clusters-view-physical">Clusters</a>
    </li>
    <li>
      <a href="#/events-view">Status events</a>
    </li>
  </ul>
  </div>
</nav>
