<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelModal()">
      <span class="pficon pficon-close"></span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
  </div>
  <div class="modal-body">

    <h3 ng-if="mode === 'deploy'" translate translate-values="{artifact:artifact, serverGroup:serverGroup}">DEPLOY_ARTIFACT</h3>
    <h3 ng-if="mode === 'undeploy'" translate translate-values="{artifact:artifact, serverGroup:serverGroup}">UNDEPLOY_ARTIFACT</h3>
    <h3 ng-if="mode === 'remove'" translate translate-values="{artifact:artifact, serverGroup:serverGroup}">REMOVE_ARTIFACT</h3>

  </div>
  <div class="modal-footer">
    <button id="cancelButton" type="button" class="btn btn-default" ng-click="cancelModal()" translate>CANCEL</button>
    <button id="deployButton" ng-if="mode === 'deploy'" type="button" class="btn btn-primary"
            ng-click="confirmDeployArtifact();cancelModal()"><span translate>DEPLOY</span></button>
    <button id="undeployButton" ng-if="mode === 'undeploy'" type="button" class="btn btn-primary"
            ng-click="confirmUndeployArtifact();cancelModal()"><span translate>UNDEPLOY</span></button>
    <button id="removeButton" ng-if="mode === 'remove'" type="button" class="btn btn-primary"
            ng-click="confirmRemoveArtifact();cancelModal()"><i class="pficon pficon-delete"></i><span translate>REMOVE</span></button>
  </div>
</div>
