<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView">Cache containers</a>
        </li>
        <li><a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a></li>
        <li class="active"><strong>Configuration</strong></li>
      </ol>
      <h1>Cache container configuration</h1>
    </div>
  </div>

  <div class="row">


    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li><a ui-sref="editCacheContainerSchemas({groupName:currentCluster.getServerGroupName(), groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Schemas</a></li>
        <li><a ui-sref="editCacheContainerTransport({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Transport</a></li>
        <li><a ui-sref="editCacheContainerThreadpools({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Thread pools</a></li>
        <li><a ui-sref="editCacheContainerSecurity({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Security</a></li>
        <li><a ui-sref="editCacheContainerTemplates({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Templates</a></li>
        <li><a ui-sref="editCacheContainerTasks({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})">Tasks</a></li>
        <li class="active"><a href="">Deployments</a></li>
      </ul>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <br>
          <table class="datatable table table-striped table-bordered">
            <thead>
            <tr>
              <th colspan="6" class="text-right">
                <div class="btn-group" role="group">
                  <a href="#" role="button" class="btn btn-default" ng-click="openUploadModal()"><span
                      class="pficon pficon-add-circle-o"></span> Upload</a>
                </div>
              </th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th width="230" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="artifact in deployments">
              <td>{{artifact.name}}</td>
              <td>{{artifactType(artifact.name)}}</td>
              <td>
                <form name="myForm">
                  <div class="btn-group">
                    <button class="btn btn-default" ng-disabled='canDeploy(artifact.name)' ng-click="openConfirmationModal(artifact.name,'deploy')">Deploy</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-disabled='canUndeploy(artifact.name)' ng-click="openConfirmationModal(artifact.name, 'undeploy')">Undeploy</button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-click="openConfirmationModal(artifact.name, 'remove')"><i class="pficon pficon-delete"></i> Remove</button>
                  </div>
                </form>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

