<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView" translate>CACHE_CONTAINERS</a>
        </li>
        <li><a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a></li>
        <li class="active"><strong translate>CONFIGURATION</strong></li>
      </ol>
      <h1 translate>CACHE_CONTAINER_CONFIGURATION</h1>
    </div>
  </div>

  <div class="row">


    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li><a ui-sref="editCacheContainerSchemas({groupName:currentCluster.getServerGroupName(), groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>SCHEMAS</a></li>
        <li><a ui-sref="editCacheContainerTransport({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>TRANSPORT</a></li>
        <li><a ui-sref="editCacheContainerThreadpools({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>THREAD_POOLS</a></li>
        <li><a ui-sref="editCacheContainerSecurity({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>SECURITY</a></li>
        <li><a ui-sref="editCacheContainerTemplates({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>TEMPLATES</a></li>
        <li><a ui-sref="editCacheContainerTasks({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>TASKS</a></li>
        <li class="active"><a href="" translate>DEPLOYMENTS</a></li>
      </ul>

      <div class="row">
        <div class="col-sm-12 col-md-12">
          <br>
          <table class="datatable table table-striped table-bordered">
            <thead>
            <tr>
              <th colspan="6" class="text-right">
                <div class="btn-group" role="group">
                  <a role="button" class="btn btn-default" ng-click="openUploadModal()"><span
                      class="pficon pficon-add-circle-o"></span> <span translate>UPLOAD</span></a>
                </div>
              </th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th width="230" class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="artifact in deployments">
              <td>{{artifact.name}}</td>
              <td>{{artifactType(artifact.name)}}</td>
              <td>
                <form name="myForm">
                  <div class="btn-group">
                    <button class="btn btn-default" ng-disabled='canDeploy(artifact.name)' ng-click="openConfirmationModal(artifact.name,'deploy')"><span translate>DEPLOY</span></button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-disabled='canUndeploy(artifact.name)' ng-click="openConfirmationModal(artifact.name, 'undeploy')"><span translate>UNDEPLOY</span></button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-click="openConfirmationModal(artifact.name, 'remove')"><i class="pficon pficon-delete"></i> <span translate>REMOVE</span></button>
                  </div>
                </form>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

