<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-12 col-md-12">
      <ol class="breadcrumb">
        <li>
          <a ui-sref="clustersView" translate>CACHE_CONTAINERS</a>
        </li>
        <li><a ui-sref="clusterView({groupName:currentCluster.getServerGroupName(),clusterName: currentCluster.name})">{{currentCluster.name}}</a></li>
        <li class="active"><strong translate>CONFIGURATION</strong></li>
      </ol>
      <h1 translate>CACHE_CONTAINER_CONFIGURATION</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs nav-tabs-pf">
        <li><a ui-sref="editCacheContainerSchemas({groupName: currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>SCHEMAS</a></li>
        <li class="active"><a translate>TRANSPORT</a></li>
        <li><a ui-sref="editCacheContainerThreadpools({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>THREAD_POOLS</a></li>
        <li><a ui-sref="editCacheContainerSecurity({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>SECURITY</a></li>
        <li><a ui-sref="editCacheContainerTemplates({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>TEMPLATES</a></li>
        <li><a ui-sref="editCacheContainerTasks({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>TASKS</a></li>
        <li><a ui-sref="editCacheContainerDeploy({groupName:currentCluster.getServerGroupName(), clusterName: currentCluster.name})" translate>DEPLOYMENTS</a></li>
      </ul>
      <br>

      <configuration-section fields="[{name: 'Transport', fields: ['channel', 'lock-timeout', 'strict-peer-to-peer']}]" data="transport"
                             metadata="metadata.TRANSPORT.attributes" init-defaults="false" read-only="false"
                             outside-controller="configurationHandle"/>

    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-6">
      <button id="createCacheButton" type="button" class="btn btn-primary" ng-click="save()" translate>SAVE</button>
      <button id="cancelCreateCacheButton" type="button" class="btn btn-default" ng-click="cancel()" translate>CANCEL</button>
    </div>
  </div>
</div>

