<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-8 col-md-9">
      <ol class="breadcrumb">
        <li>Cache containers</li>
      </ol>
      <h1>Cache containers</h1>
      <br>
      <table class="table ispn-aligned">
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th># Caches</th>
          <th>Clustering info <span class="icon-class pficon-info"></span></th>
          <th>Endpoints <span class="icon-class pficon-info"></span></th>
          <th>Sites <span class="icon-class pficon-info"></span></th>
        </tr>

        <tr ng-repeat="cluster in clusters track by $index">
          <td><span class="label isCacheAvailable"
                    ng-class="(cluster.isAvailable())?'label-success':'label-danger'">
            {{cluster.isAvailable()?cluster.availability:'Unavailable'}}</span></td>
          <td><strong><a href="#/cluster/{{cluster.name}}">{{cluster.name}}</a></strong></td>
          <td><span class="numberOfCaches label label-default">{{cluster.getCachesAsArray().length}}</span></td>
          <td><a class="clusterName" ui-sref="clusterNodes({clusterName: group})">{{group}}</a><br>
            <small class="stack">{{stack}}</small>
          </td>
          <td>
            <span class="endpoint" ng-repeat="e in endpoints[$index]">
                 {{e.name}}:{{e.port}} {{e.encryption}}</br>
            </span>
          </td>
          <td>
              <div ng-repeat="site in onlineSites[cluster.name]"><span class="pficon pficon-ok"></span> {{site}}</div>
              <div ng-repeat="site in mixedSites[cluster.name]"><span class="pficon pficon-warning-triangle-o"></span> <span class="label label-warning">{{site}}</span></div>
              <div ng-repeat="site in offlineSites[cluster.name]"><span class="pficon pficon-error-circle-o"></span> <span class="label label-danger">{{site}}</span></div>
              <div ng-if="(mixedSites[cluster.name].length + onlineSites[cluster.name].length + offlineSites[cluster.name].length) == 0">N/A</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 923px;">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5">Latest Grid Events:</h2>
      </div>
      <ul class="list-group"  ng-if="gridEvents.length > 0" >
        <li class="list-group-item" ng-repeat="event in gridEvents | orderBy:'when'">
          <h3 class="list-group-item-heading">
            <span ng-if="event.level=='WARN'"  class="icon-class pficon-warning-triangle-o"></span>
            <span ng-if="event.level=='INFO'"  class="icon-class pficon-info"></span>
            <span ng-if="event.level=='ERROR'" class="pficon-error-circle-o"></span>
            {{event.message}}.</h3>
          <small>{{event.when | date:'yyyy-MM-dd HH:mm:ss Z'}}</small><br>
          <small>{{event.scope}}</small>
        </li>
      </ul>

    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->
