<div class="container-fluid">
  <div class="row header-row">
    <div class="col-sm-8 col-md-9">
      <ol class="breadcrumb">
        <li>{{ctrl.getMode()}}</li>
      </ol>
      <h1 translate>CLUSTERS</h1>
      <br>
      <table class="table ispn-aligned" id-generator="table">
        <tr>
          <th translate>NAME</th>
          <th translate>STATUS</th>
          <th translate>NUMBER_OF_HOSTS</th>
          <th translate>NUMBER_OF_NODES</th>
          <th translate>ACTIONS</th>
        </tr>

        <tr ng-repeat="serverGroup in ctrl.serverGroups track by $index">
          <td>
            <strong>
              <a class="clusterName" id-generator="{{serverGroup.name}}.name"
                  ui-sref="server-group({serverGroup: serverGroup.name})">
                {{serverGroup.name}}
              </a>
            </strong>
          </td>

          <td>
            <span class="label cluster-status" id-generator="{{serverGroup.name}}.status"
                ng-class="{'label-success':ctrl.isInStartedState(serverGroup),
                          'label-warning':ctrl.isInRestartRequiredState(serverGroup) || ctrl.isInReloadRequiredState(serverGroup),
                          'label-danger':ctrl.isInOtherState(serverGroup)}">
              <span ng-if="ctrl.isInStartedState(serverGroup)" class="pficon-ok"></span>
              <span ng-if="ctrl.isInRestartRequiredState(serverGroup) || ctrl.isInReloadRequiredState(serverGroup)" class="pficon-warning-triangle-o"></span>
              <span ng-if="ctrl.isInOtherState(serverGroup)" class="pficon-error-circle-o"></span>
              {{ctrl.getSGStatus(serverGroup)}}
            </span>
          </td>

          <td style="padding: 10px">
            <span class="label label-default clusterHostCount" id-generator="{{serverGroup.name}}.hosts">
              {{ctrl.getSGHostCount(serverGroup)}}
            </span>
          </td>

          <td style="padding: 10px">
            <span class="label label-default clusterNodeCount" id-generator="{{serverGroup.name}}.nodes">
              {{ctrl.getSGServerCount(serverGroup)}}
            </span>
          </td>

          <td>
            <span class="dropdown dropdown-kebab-pf">
              <button class="btn btn-link dropdown-toggle" type="button" id="node-list-dropdown-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-ellipsis-v"></span>
              </button>
              <ul ng-if="ctrl.isDomainMode()" class="dropdown-menu" role="menu" aria-labelledby="node-list-dropdown-actions">
                <li role="presentation" ng-class="ctrl.isInStoppedState(serverGroup) ? 'enabled' : 'disabled'">
                  <a id="start.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('start', serverGroup)" translate>START</a>
                </li>

                <li role="presentation" ng-class="ctrl.isInReloadRequiredState(serverGroup) ? 'enabled' : 'disabled'">
                  <a id="reload.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('reload', serverGroup)" translate>RELOAD</a>
                </li>
                <li role="presentation" ng-class="ctrl.isInRestartRequiredState(serverGroup) ? 'enabled' : 'disabled'">
                  <a id="restart.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('restart', serverGroup)" translate>RESTART</a>
                </li>

                <li role="presentation" ng-class="ctrl.isInStartedState(serverGroup) ? 'enabled' : 'disabled'">
                  <a id="stop.button" role="menuitem" ng-click="ctrl.openServerConfirmationModal('stop', serverGroup)" translate>STOP</a>
                </li>
              </ul>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="pre-scrollable col-sm-4 col-md-3 sidebar-pf sidebar-pf-right" style="min-height: 923px;">
      <div class="sidebar-header sidebar-header-bleed-left sidebar-header-bleed-right">
        <h2 class="h5" translate>LATEST_GRID_EVENTS</h2>
      </div>
      <ul class="list-group" ng-if="ctrl.gridEvents.length > 0" id-generator="events">
        <li class="list-group-item" ng-repeat="event in ctrl.gridEvents" id-generator="events.{{$index}}">
          <h3 class="list-group-item-heading">
            <span ng-if="event.level=='WARN'" class="icon-class pficon-warning-triangle-o"></span>
            <span ng-if="event.level=='INFO'" class="icon-class pficon-info"></span>
            <span ng-if="event.level=='ERROR'" class="pficon-error-circle-o"></span>
            <span ng-if="event.level=='FATAL'" class="pficon-error-circle-o"></span>
            {{event.message}}.</h3>
          <small>{{event.when | date:'yyyy-MM-dd HH:mm:ss Z'}}<br></small>
          <small ng-if="event.server">{{event.server.host}}:{{event.server.name}}<br></small>
          <small ng-if="event.context">{{event.context}}</small>
        </li>
      </ul>

    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
