<div class="container-fluid">
  <div class="row" vertilize-container>
    <div class="col-sm-9 col-md-10 col-sm-push-3 col-md-push-2" class="cache-cards" id-generator="cache_cards_container">
      <br/>

      <div class="alert alert-info" ng-show="filtered.length < ctrl.endpoints.length">
        <span class="fa fa-filter"></span> Showing {{filtered.length}} endpoints out of {{ctrl.endpoints.length}}
        total.
      </div>

      <div ng-if="true" class="col-xs-6 col-sm-4 col-md-2">
        <a id="add.button" data-original-title="Add Endpoint" ng-click="ctrl.createEndpointModal()"
           data-toggle="modal"
           class="add" data-toggle="tooltip" data-placement="top" title="Add Endpoint">
          <div class="card-pf card-pf-accented card-pf-aggregate-status" vertilize>
            <h2 class="card-pf-title">Add Endpoint
            </h2>

            <div style="height: 50px;" class="card-pf-body">
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">
                    <span class="pficon pficon-add-circle-o"></span>
                </span>
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2" id-generator="groups"
           ng-repeat="endpoint in filtered = (ctrl.endpoints | endpointFilter:searchNameQuery)"
           ng-show="true">
          <a ui-sref="edit-endpoint-config({serverGroup: ctrl.serverGroup.name, endpointType: endpoint.getType(), endpointName: endpoint.getName()})" title="View Endpoint Details">
          <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-with-action" vertilize>
            <h2 class="card-pf-title">
              <span class="pficon" ng-class="{'fa fa-power-off':ctrl.isEndpointDisabled(endpoint),
              'pficon-ok':ctrl.isEndpointEnabled(endpoint)}"></span>{{endpoint.getName()}}
            </h2>

            <div class="card-pf-body">
              <h4 ng-show="ctrl.isDomainMode()">{{endpoint.name}}</h4>
              <h5 ng-if="!ctrl.isMultiTenantRouter(endpoint) && endpoint.hasSocketBinding()">{{endpoint.getSocketBinding().name}}:{{endpoint.getSocketBinding().port}}</h5>
              <h5 ng-if="ctrl.isMultiTenantRouter(endpoint)">
                <span>multi-tenancy router</span></br><br>
                <span ng-if="endpoint['hotrod-socket-binding']">&nbsp;&nbsp;{{endpoint['hotrod-socket-binding'].name + ":" + endpoint['hotrod-socket-binding'].port}}</span></br>
                <span ng-if="endpoint['rest-socket-binding']">&nbsp;&nbsp;{{endpoint['rest-socket-binding'].name + ":" + endpoint['rest-socket-binding'].port}}</span></br>
              </h5>
              <p class="card-pf-aggregate-status-notifications">
                <span class="card-pf-aggregate-status-notification">{{}}</span>
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-md-2 col-sm-pull-9 col-md-pull-10 sidebar-pf sidebar-pf-left">
      <br>
      <small>Quick search:</small>
      <form role="form" class="search-pf has-button">
        <div class="form-group has-clear">
          <div class="search-pf-input-group">
            <input id-generator="search" type="text" class="form-control" ng-model="searchNameQuery"
                   placeholder="Type endpoint name, socket binding, ..." type="search">
            <button style="display: none;" type="button" class="clear" aria-hidden="true"><span
              class="pficon pficon-close"></span></button>
          </div>
        </div>
        <div class="form-group">
          <button id="search.button" class="btn btn-default" type="submit"><span class="fa fa-search"></span>
          </button>
        </div>
      </form>
      <hr>
    </div>
  </div>
</div>
